                                <div class="dropdown">
									<i class="fas fa-user nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"  aria-haspopup="true" aria-expanded="false"></i>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										<a class="dropdown-item" routerLink="/login" *ngIf="!auth">
											<div class="dropdown">
                                                    <i class="fas fa-user nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"  aria-haspopup="true" aria-expanded="false"></i>
                                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                        <a class="dropdown-item" routerLink="/login" *ngIf="!auth">
                                                            <i class="fas fa-sign-in-alt pr-2"></i>login
                                                        </a>
                                                    </div>
                                                </div>
										</a>
									</div>
                                </div>
