	<!-- Start footer -->
	<footer class="footer">
      <section class= "up-footer">
        <div class="container">
          <div class="row">
            <div class="footer-title col-xl-4 col-lg-6">
              <div class='footer-logo mb-4'>
                <img src="../../assets/images/logo-footer.png" alt="">
              </div>
              <p class="lead">
                  No matter whether you’re doing basic
                  repairs and maintenance, modifying your car’s
                  street appeal and performance, or adding
                  high-tech lighting
              </p>
            </div>
            <div class="links col-xl-4 col-lg-6">
              <h3>Customer services</h3>
              <ul class='list-unstyled'>
                <li><a style="color: white" routerLink="/contact_us">contact us</a></li>
                <li><a style="color: white" routerLink="/shop">shop</a></li>
                <li><a style="color: white" routerLink="/about">about us</a></li>
              </ul>
            </div>
            <div class="footer-contact col-xl-4 col-lg-12">
              <div class='call-us'>
                <div class="row">
                  <div class="call mr-4">
                    <div><i class="fas fa-phone-volume"></i></div>
                  </div>
                  <div class="phone">
                    <h4 class="mb-3">Call Us Free</h4>
                    <h2>(+123) 456 789</h2>
                  </div>
                </div>
              </div>
              <article class="open-hours mt-4">
                <div class="row">
                  <div class='title mr-2'>
                    <h3>open hours</h3>
                  </div>
                  <div class="time ml-2">
                    <div class='mb-3'>
                      <h3>mon - fri</h3>
                      <h4>08:00am - 17:00pm</h4>
                    </div>
                    <div>
                      <h3>mon - fri</h3>
                      <h4>08:00am - 17:00pm</h4>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>

          <div class="follow-us">
            <h3>follow us</h3>
            <ul class="list-unstyled">
              <li><i class="fab fa-facebook-f"></i></li>
              <li><i class="fab fa-twitter"></i></li>
              <li><i class="fab fa-youtube"></i></li>
              <li><i class="fab fa-linkedin-in"></i></li>
              <li><i class="fas fa-rss"></i></li>
              <li><i class="fab fa-google"></i></li>
              <li><i class="fab fa-instagram"></i></li>  
            </ul>
            <div class="row get-us mb-3">
              <div class='m-2'>
                  <a href="#"><img src="../../assets/images/google-play.png" alt=""></a>
              </div>
              <div class='m-2'>
                  <a href="#"><img src="../../assets/images/app-store.png" alt=""></a>
              </div>
            </div>
            <p class='lead mb-0'>Copyright © 2019. All Rights Reserved by <span>Drvix</span></p>
          </div>
        </div>
      </section>
  </footer>
    <!-- END footer -->
