  <div class="container">

    <section class="map">
      <h2>FIND US ON THE MAP</h2>
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </section>

    <section class="contactInformation">
        <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Contact Information</h5>
                          <hr>
                          <div class="row">
                            <div class="col-5">
                                <p class="card-text"><i class="fas fa-phone">Adress: </i></p>
                            </div>
                            <div class="col-7">
                              <div class="row">
                                <div class="col-12">
                                  Company Name
                                </div>
                                <div class="col-12">
                                  123Street Alharam
                                </div>
                                <div class="col-12">
                                  Giza Almonib
                                </div>
                                <div class="col-12">
                                  Egypt
                                </div>
                              </div>
                            </div>
                          </div>
                          <a href="#" class="btn btn-primary text-center" style="display:block; margin: 10px 0px;">View In Map</a>
                          <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-2">
                                        <i class="fas fa-phone">Phone</i>
                                    </div>
                                    <div class="col-1">
                                      :
                                    </div>
                                    <div class="col-9">
                                        <a href="">01158110148</a>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-2">
                                        <i class="far fa-envelope">Email</i>
                                    </div>
                                    <div class="col-1">
                                     :
                                    </div>
                                    <div class="col-9">
                                       <a href=""> mohamedismael960@gmail.com</a>
                                    </div>
                                  </div>
                               
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-2">
                                        <i class="fa fa-laptop">Web</i>
                                    </div>
                                    <div class="col-1">
                                      :
                                    </div>
                                    <div class="col-9">
                                       <a href=""> www.company.com</a>
                                    </div>
                                  </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Busniess Houres</h5>
                          <hr>
                          <div class="card-text">
                            <div class="row">
                              <div class="col-lg-6 col-12">
                                <table>
                                  <tr>
                                    <td colspan="3" class="text-center caption">Sales Department</td>
                                  </tr>
                                  <tr>
                                    <td>Mon:	</td>
                                    <td>	8:00am </td>
                                    <td>	8:00am </td>
                                  </tr>
                                  <tr>
                                      <td>Mon:	</td>
                                      <td>	8:00am </td>
                                      <td>	8:00am </td>
                                    </tr>
                                    <tr>
                                        <td>Mon:	</td>
                                        <td>	8:00am </td>
                                        <td>	8:00am </td>
                                      </tr>
                                      <tr>
                                          <td>Mon:	</td>
                                          <td>	8:00am </td>
                                          <td>	8:00am </td>
                                        </tr>
                                        <tr>
                                            <td>Mon:	</td>
                                            <td>	8:00am </td>
                                            <td>	8:00am </td>
                                          </tr>
                                          <tr>
                                              <td>Mon:	</td>
                                              <td>	8:00am </td>
                                              <td>	8:00am </td>
                                            </tr>
                                            <tr>
                                                <td>Mon:	</td>
                                                <td>	8:00am </td>
                                                <td>	8:00am </td>
                                              </tr>
                                </table>
                              </div>
                              <div class="col-lg-6 col-12">
                                  <table>
                                      <tr>
                                        <td colspan="3" class="text-center caption">Services Department</td>
                                      </tr>
                                      <tr>
                                        <td>Mon:	</td>
                                        <td>	8:00am </td>
                                        <td>	8:00am </td>
                                      </tr>
                                      <tr>
                                          <td>Mon:	</td>
                                          <td>	8:00am </td>
                                          <td>	8:00am </td>
                                        </tr>
                                        <tr>
                                            <td>Mon:	</td>
                                            <td>	8:00am </td>
                                            <td>	8:00am </td>
                                          </tr>
                                          <tr>
                                              <td>Mon:	</td>
                                              <td>	8:00am </td>
                                              <td>	8:00am </td>
                                            </tr>
                                            <tr>
                                                <td>Mon:	</td>
                                                <td>	8:00am </td>
                                                <td>	8:00am </td>
                                              </tr>
                                              <tr>
                                                  <td>Mon:	</td>
                                                  <td>	8:00am </td>
                                                  <td>	8:00am </td>
                                                </tr>
                                                <tr>
                                                    <td>Mon:	</td>
                                                    <td>	8:00am </td>
                                                    <td>	8:00am </td>
                                                  </tr>
                                    </table>
                             </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Contact Form</h5>
                  <hr>
                  <div class="card-text">
                      <div class="wpb_wrapper">
                          <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                            </div>
                          </div>
                        <fieldset id="contact_form" class="form_contact ">
                          <div class="contact_result"></div>
                          <input type="text" name="name" class="form-control margin-bottom-25" placeholder="Name (Required)">
                          <input type="email" name="email" class="form-control margin-bottom-25" placeholder="Email (Required)">
                          <input type="password" name="password" class="form-control margin-bottom-25" placeholder="Password (Required)">

                          <textarea name="message" class="form-control margin-bottom-25 contact_textarea" placeholder="Message" rows="7"></textarea>
                          <div class="form-control gdpr-control margin-bottom-25"><label>
                          <input type="checkbox" name="gdpr"> You agree by submitting  form that you are sending us your data</label></div>
                          <div id="contact_form_recaptcha" class="recaptcha_holder"><div style="width: 304px; height: 78px;"><div>
                            <iframe src="https://www.google.com/recaptcha/api2/anchor?ar=2&amp;k=6Ld5necSAAAAAMNoodwSDBwEWAQi3Yd3VHHSsZnr&amp;co=aHR0cHM6Ly9kZW1vLnRoZW1lc3VpdGUuY29tOjQ0Mw..&amp;hl=en&amp;v=v1548975483598&amp;theme=red&amp;size=normal&amp;cb=3ckfakmou743" width="304" height="78" role="presentation" name="a-w2tl3l6fut91" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox">
                            </iframe>
                          </div>
                          <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                        </div>
                      </div>
                        <input id="submit_btn" class="submit_contact_form btn btn-danger" type="submit" value="Send Message"></fieldset></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </section>
  </div>

<div>
    <div>

</div>
  </div>
      


