.headerOfTable{
    font-size: 18px;
    font-weight: bold;
}
.md-form[_ngcontent-c5] .form-control[_ngcontent-c5] {
    margin-bottom: 0rem;
}
.md-form .validate {
    margin-bottom: 0rem;
}

.md-form  {
    margin-top: 0rem;
}

