<div class="container">
  <div class="about-container">

    <!--  title row  -->
    <div class="row">

      <div class="col-12">
        <h2 class="about-title"><i class="fas fa-quote-left"></i> Welcome to <span class="logo">DRIVIX</span> Application</h2>
      </div>

      <div class="col-12">
        <h5 class="about-subtitle">provides easy and fast way to let you
          <br>
          get different car services at any time and any place.
        </h5>
        <hr>
      </div>

    </div>

    <!--  feature row  -->
    <div class="row feature-section">

      <div class="col-lg-3 col-md-6 col-xs-12 feature-section-box">
        <img src="https://image.flaticon.com/icons/svg/1571/1571758.svg">
        <div class="feature-section-title">Available anytime</div>
        <hr>
        <span>
          App provides its service
          24 hours a day
        </span>
      </div>

      <div class="col-lg-4 col-md-6 col-xs-12 feature-section-box">
        <img src="https://image.flaticon.com/icons/svg/854/854945.svg">
        <div class="feature-section-title">Available anywhere</div>
        <hr>
        <span>
          App provide the nearest service
          around your location
        </span>
      </div>

      <div class="col-lg-3 col-md-6 col-xs-12 feature-section-box">
        <img src="https://image.flaticon.com/icons/svg/1455/1455324.svg">
        <div class="feature-section-title">Rapid response</div>
        <hr>
        <span>
          App is develop in the way
          to help user in the fastest manner
        </span>
      </div>

    </div>

    <!--   about row   -->
    <div class="row about-section">

      <div class="col-md-6 col-xs-12 about-section-left">
        <div class="about-section-left-container">
          <h4>About Us <i class="fas fa-quote-right"></i></h4>
          <span>
            Drivix application in case of any damage to your vehicle through your way, you can make a call
            to the suitable winch to get help.
          </span>
          <span>
            The application determines your location and shows you all the nearest winches,
            so you can call to get an immediate help.
          </span>
          <span>
            It also shows all the available mechanics in the surrounded areas. Also,
            the application helps you through showing what is the best route to take and the time it takes to reach the different
            types of car service’s centers.
          </span>
        </div>
      </div>

      <div class="col-md-6 col-xs-12 about-section-right">
      </div>

    </div>

  </div>
</div>


