
  .spanOfAdd{
    border: 1px solid #cecece;
      margin-left: 5px;
      /* margin-bottom: 52px; */
      font-size: 52px;
      /* height: 62px; */
      padding-top: 1px;
      padding-bottom: 17px;
      padding-left: 10px;
      padding-right: 10px;
      /* line-height: 2; */
      cursor: pointer;
  }
  agm-map {
    /* width: 300px;9*/
    height: 300px;
  }
  .spanOfAdd i{
    position: relative;
      top: 8px;
  }
  .slider_circle_10{
          width: 52vw;
          height: 37.2vw;
  }
  .card-footer:last-child {
    padding-bottom: 0px;
}
  .name-title{
    margin: auto;
    font-size: 18px;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 3px;
    color: #999999 !important;
    border-bottom: 1px solid #cccccc;
    /*background-color: #ffc107;*/
  }
  .name-title span {
    color: #0f0f0f;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
  }
  .name-title .card-title{
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff !important;
    text-align: center !important;
    font-family: 'Rubik', sans-serif;
  }
  .locations-card .card-header,
  .working-day-card .card-header,
  .phones-card .card-header,
  .branch-card .card-header{
    background-color: #262626;
  }
  .locations-card .card-header h5,
  .working-day-card .card-header h5,
  .phones-card .card-header h5,
  .branch-card .card-header h5{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
  }
  .phones-card .card-title,
  .locations-card .card-title,
  .working-day-card .card-title,
  .branch-card .card-title{
    font-size: 16px;
    font-family: 'Cabin', sans-serif;
  }
  .locations-card .m-0,
  .working-day-card .m-0,
  .phones-card .m-0,
  .branch-card .m-0{
    font-size: 14px;
    font-family: 'Cabin', sans-serif;
  }
  .xzoom .xzoom-thumbs{
    background-color: #e6e6e6;
  }
  .service-operation-btn{
    color: white;
    height: 50px;
    border-radius: 50px;
    background-color: #eeab10;
  }
  .no-imgs-alert{
    font-family: 'Open Sans', sans-serif;
  }
  .imgs-section{
    margin-top: 30px;
  }
  .badge-close{
    background-color: #e63900;
  }
  .badge-open{
    background-color: #00b386;
  }
  .description-container{
    margin: 20px;
    padding: 15px;
    /*background-color: #f2f2f2;*/
    border-bottom: 2px solid #999999;
  }
  .description{
    color: #666666;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
  }
  .description-title{
    font-size: 16px;
    font-weight: bold;
  }
  .offers-btn{
    float: right;
    margin-top: 30px;
    font-family: 'Cabin', sans-serif;
  }

  .description-container{
    margin: 20px;
    padding: 15px;
    /*background-color: #f2f2f2;*/
    border-bottom: 2px solid #999999;
  }
  .description{
    color: #666666;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
  }
  .description-title{
    font-size: 16px;
    font-weight: bold;
  }
  .offers-btn{
    float: right;
    margin-top: 30px;
    font-family: 'Cabin', sans-serif;
  }
  .drivers-table th{
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Cabin', sans-serif;
  }
  .drivers-table td{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
  .available-status{
    color: #28a745;
  }
  .unavailable-status{
    color: #811b1b;
  }
  .view-icon{
    color: #0b51c5;
  }
  .driver-badge{
    width: 90px;
    padding: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
  }
  .working-days-dropdown{
    padding: 4px;
    color: #595959;
    background-color: #e6e6e6;
  }

  /* modal design */
  .app-modal {
    text-align: center;
  }
  .app-modal .modal-header {
    color: #ffffff;
    text-align: center;
    background-color: #eeab10;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
  }
  .app-modal .modal-label {
    color: #808080;
    font-size: 18px;
    text-align: left;
    font-family: 'Cabin', sans-serif;
  }
  .app-modal .cancel-btn {
    color: #eeab10;
    background-color: white;
    border: 2px solid #d9d9d9;
    font-family: 'Open Sans', sans-serif;
  }
  .app-modal .submit-btn {
    color: #ffffff;
    background-color: #eeab10;
    border: 2px solid #eeab10;
    font-family: 'Open Sans', sans-serif;
  }
  .app-modal small {
    font-family: 'Rubik', sans-serif;
  }
  .app-modal label {
    color: #808080;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
  }
  .app-modal input {
    color: #666666;
    margin-bottom: 2px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
  }
  .app-modal .form-label {
    float: left;
    color: #eeab10;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
  }

