<section class="mainSection">
    
    <div *ngIf="!workshopExist && !winchExist && !sparepartExist && !winchDriverExist" class="container noServiceClass">
        <div class="alert alert-warning" role="alert">
            <strong style="font-size: 35px;">You Don`t have Any Service</strong> 
            <button type="button" class="close">
              <span aria-hidden="true" style="line-height: 2;">
                <!-- Example single danger button -->
              <div class="btn-group">
                  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add New Service
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" data-toggle="modal" data-target="#workshopModal">WorkShop</a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#sparpartsModal">SpareParts</a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#winchCompanyModal">Winch Company</a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#winchDriverModal">Winch Driver</a>
                  </div>
              </div>
              </span>
            </button>
          </div>
    </div>
    <div *ngIf="workshopExist || winchExist || sparepartExist" >
        <ul class="nav nav-pills mb-3  navMe row" id="pills-tab" role="tablist">
                <li class="nav-item col-6 btnTest mb-2"  *ngIf="workshopExist">
                    <a class="nav-link active linkMe" id="pills-w-tab" data-toggle="pill" href="#pills-w" role="tab" aria-controls="pills-home" aria-selected="true">WorkShop</a>
                </li>
                  <li class="nav-item col-6 btnTest mb-2" *ngIf="sparepartExist">
                    <a class="nav-link linkMe" id="pills-s-tab" data-toggle="pill" href="#pills-s" role="tab" aria-controls="pills-profile" aria-selected="false">SpareParts</a>
                  </li>
                  <li class="nav-item col-6 btnTest mb-2"  *ngIf="winchDriverExist">
                    <a class="nav-link linkMe" id="pills-c-tab" data-toggle="pill" href="#pills-c" role="tab" aria-controls="pills-contact" aria-selected="false">Winch Company</a>
                  </li>
                  <li class="nav-item col-6 btnTest mb-2"  *ngIf="winchCompanyExist">
                      <a class="nav-link linkMe" id="pills-d-tab" data-toggle="pill" href="#pills-d" role="tab" aria-controls="pills-contact" aria-selected="false">Winch Driver</a>
                  </li>
                <li class="nav-item col-12 mt-3 text-center">
                    <div class="btn-group text-center" style="display:block;">
                        <button type="button" class="btn btn-warning btn-sm dropdown-toggle" style="min-width:209px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Add New Service
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" data-toggle="modal" data-target="#workshopModal">WorkShop</a>
                          <a class="dropdown-item" data-toggle="modal" data-target="#sparpartsModal">SpareParts</a>
                          <a class="dropdown-item" data-toggle="modal" data-target="#winchCompanyModal">Winch Company</a>
                          <a class="dropdown-item" data-toggle="modal" data-target="#winchDriverModal" *ngIf="!winchDriverExist">Winch Driver</a>
                        </div>
                    </div>
                </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-w" role="tabpanel" aria-labelledby="pills-w-tab">
              <!--start view of workshop-->
              <div class="container" *ngIf="DataOfAll_2_workShop">
                  <div>
                      <div class="row">
                        <div *ngFor="let data of DataOfAll_2_workShop" class="col-xl-4  col-md-6  col-12" style="margin-bottom:15px;">
                            <div class="card CardWidth service-card">
                                <img width="100%" height="250px;" class="card-img-top" src="{{data.img}}" alt="Card image cap">
                                <div class="card-body">
                                  <h4 class="card-text text-center service-name">{{data.name}}</h4>
                                </div>
                                <div class="card-footer text-muted">
                                  <div class="row">
                                    <div class="col">
                                        <button class="btn" routerLink="/workshopView/{{data.id}}/{{data.type}}">View <i class="fas fa-external-link-alt"></i></button>
                                    </div>
                                    <div class="col text-right dotAndActiveOrDisable">
                                        <span class="dot" *ngIf="data.lock"></span>
                                        <a class="active" style="color:green" *ngIf="data.lock" (click)="activateOrDisabled(data.id)">Activated</a>
                                         <a class="disable" *ngIf="!data.lock" (click)="activateOrDisabled(data.id)">Disabled</a>
                                    </div>
                                  </div>
                                  </div>
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
              <!--End View Of Work Shops-->
            </div>

            <div class="tab-pane fade" id="pills-s" role="tabpanel" aria-labelledby="pills-s-tab">
                <div class="container">
                  <!--strat spareParts-->
                    <div>
                        <div class="row ">
                          <div *ngFor="let data of DataOfAll_3_spareParts" class="col-xl-4  col-md-6  col-12" style="margin-bottom:15px;">
                              <div class="card CardWidth service-card">
                                  <img width="100%" height="250px;" class="card-img-top" src="{{data.img}}" alt="Card image cap">
                                  <div class="card-body">
                                    <h4 class="card-text text-center service-name">{{data.name}}</h4>
                                  </div>
                                  <div class="card-footer text-muted">
                                    <div class="row">
                                      <div class="col">
                                          <a  class="btn" routerLink="/sparePartsView/{{data.id}}/{{data.type}}">View <i class="fas fa-external-link-alt"></i></a>
                                      </div>
                                      <div class="col text-right dotAndActiveOrDisable">
                                          <span class="dot" *ngIf="data.lock"></span>
                                          <a class="active" style="color:green" *ngIf="data.lock" (click)="activateOrDisabled(data.id)">Activated</a>
                                          <a class="disable" *ngIf="!data.lock" (click)="activateOrDisabled(data.id)">Disabled</a>
                                      </div>
                                    </div>
                                    </div>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-c" role="tabpanel" aria-labelledby="pills-c-tab">
                <div class="container">
                  <!--strat winchcompany-->
                    <div>
                        <div class="row ">
                          <div *ngFor="let data of DataOfAll_1_winchCompany" class="col-xl-4  col-md-6  col-12" style="margin-bottom:15px;">
                              <div class="card CardWidth service-card">
                                  <img width="100%" height="250px;" class="card-img-top" src="{{data.img}}" alt="Card image cap">
                                  <div class="card-body">
                                    <h4 class="card-text text-center service-name">{{data.name}}</h4>
                                  </div>
                                  <div class="card-footer text-muted">
                                    <div class="row">
                                      <div class="col">
                                          <a class="btn" routerLink="/winchCompanyView/{{data.id}}/{{data.type}}">View <i class="fas fa-external-link-alt"></i></a>
                                      </div>
                                      <div class="col text-right dotAndActiveOrDisable">
                                          <span class="dot" *ngIf="data.lock"></span>
                                          <a class="active" style="color:green" *ngIf="data.lock" (click)="activateOrDisabled(data.id)">Activated</a>
                                          <a class="disable" *ngIf="!data.lock" (click)="activateOrDisabled(data.id)">Disabled</a>
                                      </div>
                                    </div>
                                    </div>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="pills-d" role="tabpanel" aria-labelledby="pills-d-tab">
                <div class="container">
                  <!--strat winchdriver-->
                  <div>
                    <div class="row ">
                      <div *ngFor="let data of DataOfAll_0_winchDriver" class="col-xl-4  col-md-6  col-12" style="margin-bottom:15px;">
                          <div class="card CardWidth service-card">
                              <img width="100%" height="250px;" class="card-img-top" src="{{data.img}}" alt="Card image cap">
                              <div class="card-body">
                                <h4 class="card-text text-center service-name">{{data.name}}</h4>
                              </div>
                              <div class="card-footer text-muted">
                                <div class="row">
                                  <div class="col">
                                      <a class="btn" routerLink="/wichDriverView/{{data.id}}/{{data.type}}">View <i class="fas fa-external-link-alt"></i></a>
                                  </div>
                                  <div class="col text-right dotAndActiveOrDisable">
                                      <span class="dot" *ngIf="data.lock"></span>
                                      <a class="active" style="color:green" *ngIf="data.lock" (click)="activateOrDisabled(data.id)">Activated</a>
                                      <a class="disable" *ngIf="!data.lock" (click)="activateOrDisabled(data.id)">Disabled</a>
                                  </div>
                                </div>
                                </div>
                          </div>
                      </div>
                    </div>
                </div>
                </div>
            </div>
          </div>
    </div>
    
    
    
      <!--------------------------------Modal 1 of adding workshop--------------------------->
      
      <div class="modal fade app-modal" id="workshopModal" tabindex="-1"  role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-notify modal-warning app-modal" role="document">
        <!--Content-->
        <div class="modal-content">
          <!--Header-->
          <div class="modal-header text-center">
            <h4 class="modal-title white-text w-100 font-weight-bold py-2">Add New WorkShop</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="white-text">&times;</span>
            </button>
          </div>
          
    
          <!--Body-->
          <div class="modal-body">
            <div class="row">
             <div class="col-12">
              <div class="formError">
                <div *ngFor="let mss of alertErr">
                  <div class="alert alert-danger" role="alert">
                    <strong>Alert!</strong> {{mss}}.
                  </div>
                </div>
            </div>
            <div class="formError">
              <div *ngFor="let mss of alertSuc">
                <div class="alert alert-success" role="alert">
                  <strong>Alert!</strong> {{mss}}.
                </div>
              </div>
          </div>
             </div>
            </div>
            <form #workshop_validation="ngForm" (ngSubmit)='saveOrUpdateWorkshop(2,"")' id="form_workshop" novalidate>
            <div class="md-form mb-5" style="margin-bottom:0em !important">
              
              <input type="text" id="formName_workshop" class="form-control validate is-valid" placeholder="Work Shop Name" required
              [(ngModel)]='FullName_workshop'name="FullName_workshop" #fullName_workshop='ngModel' [class.error]="fullName_workshop.errors && fullName_workshop.invalid && fullName_workshop.touched">
    
              <div class="form-input-error" *ngIf="fullName_workshop.errors && fullName_workshop.invalid && fullName_workshop.touched">
                  <small *ngIf="fullName_workshop.errors.required" class='text-danger ml-2' style="margin-left:3em !important">
                      <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> Work Shop is required 
                    <br></small>
                  <small *ngIf="fullName_workshop.errors.pattern" class='text-danger ml-2' style="margin-left:3em !important">
                    <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> Work Shop is invalid
                  </small>
              </div>
            </div>

              <div class="md-form mb-5">
                  <i class="far fa-clock prefix grey-text"></i>
                  
                  <input type="time" value="13:00" step="900"   id="formTimeStart_workshop" class="form-control validate is-valid" 
                   style="width:calc(40% - 2.5rem);display:inline-block" required
                  [(ngModel)]='timestart_workshop' name="timeStart_workshop" #TimeStart_workshop='ngModel' [class.error]="TimeStart_workshop.errors && TimeStart_workshop.invalid && TimeStart_workshop.touched">
        
                  <i class="fas fa-chevron-right"></i>

                    <input type="time" value="13:00" step="900" id="formTimeEnd_workshop" class="form-control validate is-valid" 
                    style="width:calc(40% - 2.5rem);display:inline-block" required
                    [(ngModel)]='timeend_workshop' name="timeEnd_workshop" #TimeEnd_workshop='ngModel' [class.error]="TimeEnd_workshop.errors && TimeEnd_workshop.invalid && TimeEnd_workshop.touched">
  
                    <div class="form-input-error" *ngIf="TimeStart_workshop.errors && TimeStart_workshop.invalid && TimeStart_workshop.touched" style="display:inline-block;">
                        <small *ngIf="TimeStart_workshop.errors.required" class='text-danger ml-2' style="margin-left:3em !important">
                            <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> Time is required 
                          <br></small>
                        <small *ngIf="TimeStart_workshop.errors.pattern" class='text-danger ml-2' style="margin-left:3em !important">
                          <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> Time is invalid
                        </small>
                    </div>
                    <div class="form-input-error" *ngIf="TimeEnd_workshop.errors && TimeEnd_workshop.invalid && TimeEnd_workshop.touched" style="display:inline-block;">
                        <small *ngIf="TimeEnd_workshop.errors.required" class='text-danger ml-2' style="margin-left:3em !important">
                            <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> Time is required 
                          <br></small>
                        <small *ngIf="TimeEnd_workshop.errors.pattern" class='text-danger ml-2' style="margin-left:3em !important">
                          <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> Time is invalid
                        </small>
                    </div>
                  </div>

                  <div class="input-group my-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon3">https:</span>
                    </div>
                    <input [(ngModel)]='URL_workshop' name="URL_workshopName" placeholder="Your socail Url"  type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                  </div>

                  <div class="row" style="text-align: left;">
                      <div class="col-6" *ngFor="let data of types_workShop;let i = index">
                          <div class="custom-control custom-checkbox mr-sm-2 mt-1" style="text-align: left;">
                              <input type="checkbox" class="custom-control-input workshoptypes" id="typeWorkShopId{{i}}"
                              [(ngModel)]='workshopType_workshop[i]' style="text-align: left;" value="{{data.id}}" name="typeWorkShopName{{i}}">
                              <label class="custom-control-label" for="typeWorkShopId{{i}}">{{data.workshopType}}</label>
                          </div>
                      </div>
                  </div>

            <div class="md-form md-outline">
                      <textarea id="form75" [(ngModel)]='desc_workshop' name="description_workshop" class="form-control" rows="3" required></textarea>
                      <label for="form75">Write Description Of Your workshop</label>
           </div>
           <div class="md-form text-center">
            <h5 class="m-0 p-0 form-label">Working Days <i class="fas fa-grip-lines-vertical"></i></h5>
          </div>
               <div class="row">
                   <div class="col-6" style="text-align: left;">
                       <div class="custom-control custom-checkbox mr-sm-2 mt-1" style="text-align: left;">
                           <input type="checkbox" class="custom-control-input" id="customControlAutosizing111"
                           [(ngModel)]='Saturday_workshop' value="Saturday" name="Saturday_workshop">
                           <label class="custom-control-label" for="customControlAutosizing111">Saturday</label>
                       </div>
                       <div class="custom-control custom-checkbox mr-sm-2 mt-1" style="text-align: left;">
                           <input type="checkbox" class="custom-control-input" id="customControlAutosizing222"
                           [(ngModel)]='Sunday_workshop' name="Sunday_workshop">
                           <label class="custom-control-label" for="customControlAutosizing222">Sunday</label>
                       </div>
                       <div class="custom-control custom-checkbox mr-sm-2 mt-1" style="text-align: left;">
                           <input type="checkbox" class="custom-control-input" id="customControlAutosizing333"
                           [(ngModel)]='Monday_workshop' name="Monday_workshop">
                           <label class="custom-control-label" for="customControlAutosizing333">Monday</label>
                       </div>
                       <div class="custom-control custom-checkbox mr-sm-2 mt-1" style="text-align: left;">
                           <input type="checkbox" class="custom-control-input" id="customControlAutosizing444"
                           [(ngModel)]='Teusday_workshop' name="Teusday_workshop">
                           <label class="custom-control-label" for="customControlAutosizing444">Teusday</label>
                       </div>
                   </div>
                   <div class="col-6">
                       <div class="custom-control custom-checkbox mr-sm-2 mt-1" style="text-align: left;">
                           <input type="checkbox" class="custom-control-input" id="customControlAutosizing555"
                           [(ngModel)]='Wensday_workshop' name="Wensday_workshop">
                           <label class="custom-control-label" for="customControlAutosizing555">Wensday</label>
                       </div>
                       <div class="custom-control custom-checkbox mr-sm-2 mt-1" style="text-align: left;">
                           <input type="checkbox" class="custom-control-input" id="customControlAutosizing666"
                           [(ngModel)]='Thursday_workshop' name="Thursday_workshop">
                           <label class="custom-control-label" for="customControlAutosizing666">Thursday</label>
                       </div>
                       <div class="custom-control custom-checkbox mr-sm-2 mt-1" style="text-align: left;">
                           <input type="checkbox" class="custom-control-input" id="customControlAutosizing777"
                           [(ngModel)]='Friday_workshop' name="Friday_workshop">
                           <label class="custom-control-label" for="customControlAutosizing777">Friday</label>
                       </div>
                   </div>
               </div>
          </form>
          </div>
          <!--Footer-->
          <div class="modal-footer justify-content-center">
            <button type="submit" form="form_workshop"  [disabled]='workshop_validation.form.invalid'  class="btn submit-btn">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
          </div>
        
        </div>
        <!--/.Content-->
        
      </div>
    </div>
    
      <!-- end Modal 1 of adding workshop -->

     <!--------------------------------Modal 2 of adding spareparts--------------------------->
      
     <div class="modal fade app-modal" id="sparpartsModal" tabindex="-1"  role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
     <div class="modal-dialog modal-notify modal-warning app-modal" role="document">
       <!--Content-->
       <div class="modal-content">
         <!--Header-->
         <div class="modal-header text-center">
           <h4 class="modal-title white-text w-100 font-weight-bold py-2">Add New Spare Parts</h4>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true" class="white-text">&times;</span>
           </button>
         </div>
   
         <!--Body-->
         <div class="modal-body">
           <div class="row">
            <div class="col-12">
              <div class="formError">
                <div *ngFor="let mss of alertErr">
                  <div class="alert alert-danger" role="alert">
                    <strong>Alert!</strong> {{mss}}.
                  </div>
                </div>
            </div>
            <div class="formError">
              <div *ngFor="let mss of alertSuc">
                <div class="alert alert-success" role="alert">
                  <strong>Alert!</strong> {{mss}}.
                </div>
              </div>
          </div>
            </div>
           </div>
           <form #spareparts_validation="ngForm" (ngSubmit)='saveOrUpdateSpareParts(3,"")' id="form_spareparts" novalidate>
           <div class="md-form mb-5" style="margin-bottom:0em !important">
             <input type="text" id="formName_spareparts" class="form-control validate is-valid" placeholder="Spare Parts Name" required
             [(ngModel)]='FullName_spareparts'name="FullName_spareparts" #fullName_spareparts='ngModel' [class.error]="fullName_spareparts.errors && fullName_spareparts.invalid && fullName_spareparts.touched">
   
             <div class="form-input-error" *ngIf="fullName_spareparts.errors && fullName_spareparts.invalid && fullName_spareparts.touched">
                 <small *ngIf="fullName_spareparts.errors.required" class='text-danger ml-2' style="margin-left:3em !important">
                     <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> SpareParts is required 
                   <br></small>
                 <small *ngIf="fullName_spareparts.errors.pattern" class='text-danger ml-2' style="margin-left:3em !important">
                   <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> SpareParts is invalid
                 </small>
             </div>
           </div>

             <div class="md-form mb-5">
                 <i class="far fa-clock prefix grey-text"></i>
                 
                 <input type="time" value="13:00" step="900"   id="formTimeStart_spareparts" class="form-control validate is-valid" 
                  style="width:calc(40% - 2.5rem);display:inline-block" required
                 [(ngModel)]='timestart_spareparts' name="timeStart_spareparts" #TimeStart_spareparts='ngModel' [class.error]="TimeStart_spareparts.errors && TimeStart_spareparts.invalid && TimeStart_spareparts.touched">
       
                 <i class="fas fa-chevron-right"></i>

                   <input type="time" value="13:00" step="900" id="formTimeEnd_spareparts" class="form-control validate is-valid" 
                   style="width:calc(40% - 2.5rem);display:inline-block" required
                   [(ngModel)]='timeend_spareparts' name="timeEnd_spareparts" #TimeEnd_spareparts='ngModel' [class.error]="TimeEnd_spareparts.errors && TimeEnd_spareparts.invalid && TimeEnd_spareparts.touched">
 
                   <div class="form-input-error" *ngIf="TimeStart_spareparts.errors && TimeStart_spareparts.invalid && TimeStart_spareparts.touched" style="display:inline-block;">
                       <small *ngIf="TimeStart_spareparts.errors.required" class='text-danger ml-2' style="margin-left:3em !important">
                           <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> Time is required 
                         <br></small>
                       <small *ngIf="TimeStart_spareparts.errors.pattern" class='text-danger ml-2' style="margin-left:3em !important">
                         <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> Time is invalid
                       </small>
                   </div>
                   <div class="form-input-error" *ngIf="TimeEnd_spareparts.errors && TimeEnd_spareparts.invalid && TimeEnd_spareparts.touched" style="display:inline-block;">
                       <small *ngIf="TimeEnd_spareparts.errors.required" class='text-danger ml-2' style="margin-left:3em !important">
                           <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> Time is required 
                         <br></small>
                       <small *ngIf="TimeEnd_spareparts.errors.pattern" class='text-danger ml-2' style="margin-left:3em !important">
                         <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> Time is invalid
                       </small>
                   </div>
                 </div>

                 <div class="input-group my-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon3">https:</span>
                    </div>
                    <input [(ngModel)]='URL_spareparts' name="URL_spareParts" placeholder="Your socail Url"  type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                  </div>

                 <div class="row my-4">
                    <div class="col-6">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input [(ngModel)]='sparePartsType_spareparts' value="0" type="radio" id="customRadioInline10__00" name="customRadioInline1__000" class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline10__00">Normal Shop</label>
                          </div>
                    </div>
                    <div class="col-6">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input [(ngModel)]='sparePartsType_spareparts' value="1" type="radio" id="customRadioInline10__01" name="customRadioInline1__000" class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline10__01">Agent Shop</label>
                          </div>
                    </div>
                  </div>

                 

           <div class="md-form md-outline">
                     <textarea id="form75" [(ngModel)]='desc_spareparts' name="description_spareparts" class="form-control" rows="3" required></textarea>
                     <label for="form75">Write Description Of Your spareparts</label>
          </div>
          <div class="md-form text-center">
            <h5 class="m-0 p-0 form-label">Working Days <i class="fas fa-grip-lines-vertical"></i></h5>
          </div>
              <div class="row" style="text-align: left;">
                  <div class="col-6" style="text-align: left;">
                      <div class="custom-control custom-checkbox mr-sm-2 mt-1">
                          <input type="checkbox" class="custom-control-input" id="customControlAutosizing1111"
                          [(ngModel)]='Saturday_spareparts' value="Saturday" name="Saturday_spareparts">
                          <label class="custom-control-label" for="customControlAutosizing1111">Saturday</label>
                      </div>
                      <div class="custom-control custom-checkbox mr-sm-2 mt-1">
                          <input type="checkbox" class="custom-control-input" id="customControlAutosizing2222"
                          [(ngModel)]='Sunday_spareparts' name="Sunday_spareparts">
                          <label class="custom-control-label" for="customControlAutosizing2222">Sunday</label>
                      </div>
                      <div class="custom-control custom-checkbox mr-sm-2 mt-1">
                          <input type="checkbox" class="custom-control-input" id="customControlAutosizing3333"
                          [(ngModel)]='Monday_spareparts' name="Monday_spareparts">
                          <label class="custom-control-label" for="customControlAutosizing3333">Monday</label>
                      </div>
                      <div class="custom-control custom-checkbox mr-sm-2 mt-1">
                          <input type="checkbox" class="custom-control-input" id="customControlAutosizing4444"
                          [(ngModel)]='Teusday_spareparts' name="Teusday_spareparts">
                          <label class="custom-control-label" for="customControlAutosizing4444">Teusday</label>
                      </div>
                  </div>
                  <div class="col-6">
                      <div class="custom-control custom-checkbox mr-sm-2 mt-1">
                          <input type="checkbox" class="custom-control-input" id="customControlAutosizing5555"
                          [(ngModel)]='Wensday_spareparts' name="Wensday_spareparts">
                          <label class="custom-control-label" for="customControlAutosizing5555">Wensday</label>
                      </div>
                      <div class="custom-control custom-checkbox mr-sm-2 mt-1">
                          <input type="checkbox" class="custom-control-input" id="customControlAutosizing6666"
                          [(ngModel)]='Thursday_spareparts' name="Thursday_spareparts">
                          <label class="custom-control-label" for="customControlAutosizing6666">Thursday</label>
                      </div>
                      <div class="custom-control custom-checkbox mr-sm-2 mt-1">
                          <input type="checkbox" class="custom-control-input" id="customControlAutosizing7777"
                          [(ngModel)]='Friday_spareparts' name="Friday_spareparts">
                          <label class="custom-control-label" for="customControlAutosizing7777">Friday</label>
                      </div>
                  </div>
              </div>
         </form>
         </div>
         <!--Footer-->
         <div class="modal-footer justify-content-center">
           <button type="submit" form="form_spareparts"  [disabled]='spareparts_validation.form.invalid'  class="btn submit-btn">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
         </div>
       
       </div>
       <!--/.Content-->
       
     </div>
   </div>
   
     <!-- end Modal 2 of adding spareParts -->



      <!--------------------------------Modal 3 of adding winchCompany--------------------------->
      
      <div class="modal fade app-modal" id="winchCompanyModal" tabindex="-1"  role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-notify modal-warning app-modal" role="document">
        <!--Content-->
        <div class="modal-content">
          <!--Header-->
          <div class="modal-header text-center">
            <h4 class="modal-title white-text w-100 font-weight-bold py-2">Add New Winch Company</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="white-text">&times;</span>
            </button>
          </div>
    
          <!--Body-->
          <div class="modal-body">
            <div class="row">
             <div class="col-12">
              <div class="formError">
                <div *ngFor="let mss of alertErr">
                  <div class="alert alert-danger" role="alert">
                    <strong>Alert!</strong> {{mss}}.
                  </div>
                </div>
            </div>
            <div class="formError">
              <div *ngFor="let mss of alertSuc">
                <div class="alert alert-success" role="alert">
                  <strong>Alert!</strong> {{mss}}.
                </div>
              </div>
          </div>
             </div>
            </div>
            <form #winchCompany_validation="ngForm" (ngSubmit)='saveOrUpdateWinchCompany(1,"")' id="form_winchCompany" novalidate>
            <div class="md-form mb-5" style="margin-bottom:0em !important">
              <input type="text" id="formName_winchCompany" class="form-control validate is-valid" placeholder="Winch Company Name" required
              [(ngModel)]='FullName_winchCompany'name="FullName_winchCompany" #fullName_winchCompany='ngModel' [class.error]="fullName_winchCompany.errors && fullName_winchCompany.invalid && fullName_winchCompany.touched">
    
              <div class="form-input-error" *ngIf="fullName_winchCompany.errors && fullName_winchCompany.invalid && fullName_winchCompany.touched">
                  <small *ngIf="fullName_winchCompany.errors.required" class='text-danger ml-2' style="margin-left:3em !important">
                      <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> Winch Companty is required 
                    <br></small>
                  <small *ngIf="fullName_winchCompany.errors.pattern" class='text-danger ml-2' style="margin-left:3em !important">
                    <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span>Winch Company is invalid
                  </small>
              </div>
            </div>

              <div class="md-form mb-5">
                  <i class="far fa-clock prefix grey-text"></i>
                  
                  <input type="time" value="13:00" step="900"   id="formTimeStart_winchCompany" class="form-control validate is-valid" 
                   style="width:calc(40% - 2.5rem);display:inline-block" required
                  [(ngModel)]='timestart_winchCompany' name="timeStart_winchCompany" #TimeStart_winchCompany='ngModel' [class.error]="TimeStart_winchCompany.errors && TimeStart_winchCompany.invalid && TimeStart_winchCompany.touched">
                  <i class="fas fa-chevron-right"></i>
                    <input type="time" value="13:00" step="900" id="formTimeEnd_winchCompany" class="form-control validate is-valid" 
                    style="width:calc(40% - 2.5rem);display:inline-block" required
                    [(ngModel)]='timeend_winchCompany' name="timeEnd_winchCompany" #TimeEnd_winchCompany='ngModel' [class.error]="TimeEnd_winchCompany.errors && TimeEnd_winchCompany.invalid && TimeEnd_winchCompany.touched">
  
                    <div class="form-input-error" *ngIf="TimeStart_winchCompany.errors && TimeStart_winchCompany.invalid && TimeStart_winchCompany.touched" style="display:inline-block;">
                        <small *ngIf="TimeStart_winchCompany.errors.required" class='text-danger ml-2' style="margin-left:3em !important">
                            <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> Time is required 
                          <br></small>
                        <small *ngIf="TimeStart_winchCompany.errors.pattern" class='text-danger ml-2' style="margin-left:3em !important">
                          <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> Time is invalid
                        </small>
                    </div>
                    <div class="form-input-error" *ngIf="TimeEnd_winchCompany.errors && TimeEnd_winchCompany.invalid && TimeEnd_winchCompany.touched" style="display:inline-block;">
                        <small *ngIf="TimeEnd_winchCompany.errors.required" class='text-danger ml-2' style="margin-left:3em !important">
                            <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> Time is required 
                          <br></small>
                        <small *ngIf="TimeEnd_winchCompany.errors.pattern" class='text-danger ml-2' style="margin-left:3em !important">
                          <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> Time is invalid
                        </small>
                    </div>
                  </div>
                  <div class="row my-4">
                    <div class="col-6">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input [(ngModel)]='companyType_winchCompany' value="0" type="radio" id="customRadioInline10" name="customRadioInline1" class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline10">Locally</label>
                          </div>
                    </div>
                    <div class="col-6">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input [(ngModel)]='companyType_winchCompany' value="1" type="radio" id="customRadioInline20" name="customRadioInline1" class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline20">International</label>
                          </div>
                    </div>
                  </div>

            <div class="md-form md-outline">
                      <textarea id="form75" [(ngModel)]='desc_winchCompany' name="description_winchCompany" class="form-control" rows="3" required></textarea>
                      <label for="form75">Write Description Of Your Winch Company</label>
           </div>
           <div class="md-form text-center">
            <h5 class="m-0 p-0 form-label">Working Days <i class="fas fa-grip-lines-vertical"></i></h5>
          </div>
               <div class="row" style="text-align: left;">
                   <div class="col-6" style="text-align: left;">
                       <div class="custom-control custom-checkbox mr-sm-2 mt-1">
                           <input type="checkbox" class="custom-control-input" id="customControlAutosizing11"
                           [(ngModel)]='Saturday_winchCompany' value="Saturday" name="Saturday_winchCompany">
                           <label class="custom-control-label" for="customControlAutosizing11">Saturday</label>
                       </div>
                       <div class="custom-control custom-checkbox mr-sm-2 mt-1">
                           <input type="checkbox" class="custom-control-input" id="customControlAutosizing22"
                           [(ngModel)]='Sunday_winchCompany' name="Sunday_winchCompany">
                           <label class="custom-control-label" for="customControlAutosizing22">Sunday</label>
                       </div>
                       <div class="custom-control custom-checkbox mr-sm-2 mt-1">
                           <input type="checkbox" class="custom-control-input" id="customControlAutosizing33"
                           [(ngModel)]='Monday_winchCompany' name="Monday_winchCompany">
                           <label class="custom-control-label" for="customControlAutosizing3">Monday</label>
                       </div>
                       <div class="custom-control custom-checkbox mr-sm-2 mt-1">
                           <input type="checkbox" class="custom-control-input" id="customControlAutosizing44"
                           [(ngModel)]='Teusday_winchCompany' name="Teusday_winchCompany">
                           <label class="custom-control-label" for="customControlAutosizing44">Teusday</label>
                       </div>
                   </div>
                   <div class="col-6">
                       <div class="custom-control custom-checkbox mr-sm-2 mt-1">
                           <input type="checkbox" class="custom-control-input" id="customControlAutosizing55"
                           [(ngModel)]='Wensday_winchCompany' name="Wensday_winchCompany">
                           <label class="custom-control-label" for="customControlAutosizing55">Wensday</label>
                       </div>
                       <div class="custom-control custom-checkbox mr-sm-2 mt-1">
                           <input type="checkbox" class="custom-control-input" id="customControlAutosizing66"
                           [(ngModel)]='Thursday_winchCompany' name="Thursday_winchCompany">
                           <label class="custom-control-label" for="customControlAutosizing66">Thursday</label>
                       </div>
                       <div class="custom-control custom-checkbox mr-sm-2 mt-1">
                           <input type="checkbox" class="custom-control-input" id="customControlAutosizing77"
                           [(ngModel)]='Friday_winchCompany' name="Friday_winchCompany">
                           <label class="custom-control-label" for="customControlAutosizing77">Friday</label>
                       </div>
                   </div>
               </div>
          </form>
          </div>
          <!--Footer-->
          <div class="modal-footer justify-content-center">
            <button type="submit" form="form_winchCompany"  [disabled]='winchCompany_validation.form.invalid'  class="btn submit-btn">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
          </div>
        
        </div>
        <!--/.Content-->
        
      </div>
    </div>
    
      <!-- end Modal 3 of adding winchCompany -->


       <!--------------------------------Modal 4 of adding winchDriver--------------------------->
      
       <div class="modal fade app-modal" id="winchDriverModal" tabindex="-1"  role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
       <div class="modal-dialog modal-notify modal-warning app-modal" role="document">
         <!--Content-->
         <div class="modal-content">
           <!--Header-->
           <div class="modal-header text-center">
             <h4 class="modal-title white-text w-100 font-weight-bold py-2">Add New Winch Driver</h4>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true" class="white-text">&times;</span>
             </button>
           </div>
     
           <!--Body-->
           <div class="modal-body">
             <div class="row" style="text-align: left;">
              <div class="col-12" style="text-align: left;">
                <div class="formError">
                  <div *ngFor="let mss of alertErr">
                    <div class="alert alert-danger" role="alert">
                      <strong>Alert!</strong> {{mss}}.
                    </div>
                  </div>
              </div>
              <div class="formError">
                <div *ngFor="let mss of alertSuc">
                  <div class="alert alert-success" role="alert">
                    <strong>Alert!</strong> {{mss}}.
                  </div>
                </div>
            </div>
              </div>
             </div>
             <form #winchDriver_validation="ngForm" (ngSubmit)='saveOrUpdateWinchDriver(0,"")' id="form_winchDriver" novalidate>
             <div class="md-form mb-5" style="margin-bottom:0em !important">
               <input type="text" id="formName_winchDriver" class="form-control validate is-valid" placeholder="Winch Driver Name" required
               [(ngModel)]='FullName_winchDriver'name="FullName_winchDriver" #fullName_winchDriver='ngModel' [class.error]="fullName_winchDriver.errors && fullName_winchDriver.invalid && fullName_winchDriver.touched">
     
               <div class="form-input-error" *ngIf="fullName_winchDriver.errors && fullName_winchDriver.invalid && fullName_winchDriver.touched">
                   <small *ngIf="fullName_winchDriver.errors.required" class='text-danger ml-2' style="margin-left:3em !important">
                       <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> Winch Driver is required 
                     <br></small>
                   <small *ngIf="fullName_winchDriver.errors.pattern" class='text-danger ml-2' style="margin-left:3em !important">
                     <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> Winch Driver is invalid
                   </small>
               </div>
             </div>

             <div class="md-form mb-5" style="margin-bottom:0em !important">
                <input type="number" id="price_winchDriver" class="form-control validate is-valid" placeholder="Price Per Km" required
                [(ngModel)]='Price_winchDriver'name="Price_winchDriver" #price_winchDriver='ngModel' [class.error]="price_winchDriver.errors && price_winchDriver.invalid && price_winchDriver.touched">
      
                <div class="form-input-error" *ngIf="price_winchDriver.errors && price_winchDriver.invalid && price_winchDriver.touched">
                    <small *ngIf="price_winchDriver.errors.required" class='text-danger ml-2' style="margin-left:3em !important">
                        <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> Price is required 
                      <br></small>
                    <small *ngIf="price_winchDriver.errors.pattern" class='text-danger ml-2' style="margin-left:3em !important">
                      <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> Price is invalid
                    </small>
                </div>
              </div>
     
             
               <div class="md-form mb-5">
                   <i class="far fa-clock prefix grey-text"></i>
                   
                   <input type="time" value="13:00" step="900"   id="formTimeStart_winchDriver" class="form-control validate is-valid" 
                    style="width:calc(40% - 2.5rem);display:inline-block" required
                   [(ngModel)]='timestart_winchDriver' name="timeStart_winchDriver" #TimeStart_winchDriver='ngModel' [class.error]="TimeStart_winchDriver.errors && TimeStart_winchDriver.invalid && TimeStart_winchDriver.touched">
                   <i class="fas fa-chevron-right"></i>
                     <input type="time" value="13:00" step="900" id="formTimeEnd_winchDriver" class="form-control validate is-valid" 
                     style="width:calc(40% - 2.5rem);display:inline-block" required
                     [(ngModel)]='timeend_winchDriver' name="timeEnd_winchDriver" #TimeEnd_winchDriver='ngModel' [class.error]="TimeEnd_winchDriver.errors && TimeEnd_winchDriver.invalid && TimeEnd_winchDriver.touched">
   
                     <div class="form-input-error" *ngIf="TimeStart_winchDriver.errors && TimeStart_winchDriver.invalid && TimeStart_winchDriver.touched" style="display:inline-block;">
                         <small *ngIf="TimeStart_winchDriver.errors.required" class='text-danger ml-2' style="margin-left:3em !important">
                             <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> Time is required 
                           <br></small>
                         <small *ngIf="TimeStart_winchDriver.errors.pattern" class='text-danger ml-2' style="margin-left:3em !important">
                           <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> Time is invalid
                         </small>
                     </div>
                     <div class="form-input-error" *ngIf="TimeEnd_winchDriver.errors && TimeEnd_winchDriver.invalid && TimeEnd_winchDriver.touched" style="display:inline-block;">
                         <small *ngIf="TimeEnd_winchDriver.errors.required" class='text-danger ml-2' style="margin-left:3em !important">
                             <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> Time is required 
                           <br></small>
                         <small *ngIf="TimeEnd_winchDriver.errors.pattern" class='text-danger ml-2' style="margin-left:3em !important">
                           <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> Time is invalid
                         </small>
                     </div>
                   </div>

                   

             <div class="md-form md-outline">
                       <textarea id="form75" [(ngModel)]='desc_winchDriver' name="description_winchDriver" class="form-control" rows="3" required></textarea>
                       <label for="form75">Write Description Of Your WinchDriver</label>
            </div>
            <div class="md-form text-center">
              <h5 class="m-0 p-0 form-label">Working Days <i class="fas fa-grip-lines-vertical"></i></h5>
            </div>
                <div class="row">
                    <div class="col-6">
                        <div class="custom-control custom-checkbox mr-sm-2 mt-1">
                            <input type="checkbox" class="custom-control-input" id="customControlAutosizing1"
                            [(ngModel)]='Saturday_winchDriver' value="Saturday" name="Saturday_winchDriver">
                            <label class="custom-control-label" for="customControlAutosizing1">Saturday</label>
                        </div>
                        <div class="custom-control custom-checkbox mr-sm-2 mt-1">
                            <input type="checkbox" class="custom-control-input" id="customControlAutosizing2"
                            [(ngModel)]='Sunday_winchDriver' name="Sunday_winchDriver">
                            <label class="custom-control-label" for="customControlAutosizing2">Sunday</label>
                        </div>
                        <div class="custom-control custom-checkbox mr-sm-2 mt-1">
                            <input type="checkbox" class="custom-control-input" id="customControlAutosizing3"
                            [(ngModel)]='Monday_winchDriver' name="Monday_winchDriver">
                            <label class="custom-control-label" for="customControlAutosizing3">Monday</label>
                        </div>
                        <div class="custom-control custom-checkbox mr-sm-2 mt-1">
                            <input type="checkbox" class="custom-control-input" id="customControlAutosizing4"
                            [(ngModel)]='Teusday_winchDriver' name="Teusday_winchDriver">
                            <label class="custom-control-label" for="customControlAutosizing4">Teusday</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="custom-control custom-checkbox mr-sm-2 mt-1">
                            <input type="checkbox" class="custom-control-input" id="customControlAutosizing5"
                            [(ngModel)]='Wensday_winchDriver' name="Wensday_winchDriver">
                            <label class="custom-control-label" for="customControlAutosizing5">Wensday</label>
                        </div>
                        <div class="custom-control custom-checkbox mr-sm-2 mt-1">
                            <input type="checkbox" class="custom-control-input" id="customControlAutosizing6"
                            [(ngModel)]='Thursday_winchDriver' name="Thursday_winchDriver">
                            <label class="custom-control-label" for="customControlAutosizing6">Thursday</label>
                        </div>
                        <div class="custom-control custom-checkbox mr-sm-2 mt-1">
                            <input type="checkbox" class="custom-control-input" id="customControlAutosizing7"
                            [(ngModel)]='Friday_winchDriver' name="Friday_winchDriver">
                            <label class="custom-control-label" for="customControlAutosizing7">Friday</label>
                        </div>
                    </div>
                </div>
           </form>
           </div>
           <!--Footer-->
           <div class="modal-footer justify-content-center">
             <button type="submit" form="form_winchDriver"  [disabled]='winchDriver_validation.form.invalid'  class="btn submit-btn">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
           </div>
         
         </div>
         <!--/.Content-->
         
       </div>
     </div>
     
       <!-- end Modal 4 of adding winchDriver -->
    </section>
    
