<section class="mainSection">
    <div class="formError">
        <div *ngFor="let mss of alertErr">
          <div class="alert alert-danger" role="alert">
            <strong>Alert!</strong> {{mss}}.
          </div>
        </div>
    </div>
    <div class="formError">
      <div *ngFor="let mss of alertSuc">
        <div class="alert alert-success" role="alert">
          <strong>Alert!</strong> {{mss}}.
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-12">
        <div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="search">Governorate</label>
                </div>
                <select class="custom-select" id="search" #city>
                  <option disabled value="">Select Gov....</option>
                  <option value="cairo">cairo</option>
                  <option value="Alexandria">Alexandria</option>
                  <option value="Aswan">Aswan</option>
                  <option value="Beheira">Beheira</option>
                  <option value="Beni Suef">Beni Suef</option>
                  <option value="Dakahlia">Dakahlia</option>
                  <option value="Damietta">Damietta</option>
                  <option value="Faiyum">Faiyum</option>
                  <option value="Gharbia">Gharbia</option>
                  <option value="Giza">Giza</option>
                  <option value="Ismailia">Ismailia</option>
                  <option value="Kafr El Sheikh">Kafr El Sheikh</option>
                  <option value="Luxor">Luxor</option>
                  <option value="Matruh">Matruh</option>
                  <option value="Minya">Minya</option>
                  <option value="Monufia">Monufia</option>
                  <option value="New Valley">New Valley</option>
                  <option value="North Sinai">North Sinai</option>
                  <option value="Port Said">Port Said</option>
                  <option value="Qalyubia">Qalyubia</option>
                  <option value="Qena">Qena</option>
                  <option value="Red Sea">Red Sea</option>
                  <option value="Sharqia">Sharqia</option>
                  <option value="Sohag">Sohag</option>
                  <option value="South Sinai">South Sinai</option>
                  <option value="Suez">Suez</option>
                </select>
            </div>
  
    </div>
  </div>


  <div class="col-md-6 col-12">
      <div class="search">
          <div class="input-group mb-3">
              <div class="input-group-prepend" style="height: fit-content;">
                <label class="input-group-text" for="inputGroupSelect02">Filter by</label>
              </div>
              <select class="custom-select" id="inputGroupSelect02" #filterType>
                  <option disabled value="">Select Option .....</option>
                <option value="asc">Best Gas Station</option>
                <option value="desc">Worst Gas Station</option>
              </select>
              <button type="button" class="btn btn-outline-warning" style="margin-left: 20px;margin-top: -3px;" (click)="showGasStation(city.value,filterType.value)">Search</button>
          </div>
  </div>
</div>
  </div>
  <div class="row">
    <div *ngFor = "let data of gasStationData;let i = index;">
        <div class="col">
            <div class="card" style="width: 21rem; min-height:28em; margin-bottom: 17px;">
                <div (click)="openModelMaps(data.lat,data.long)" data-toggle="modal" data-target="#mapModal">
                  <agm-map [zoom]='19' [latitude]="tofloat(data.lat)" [longitude]="tofloat(data.long)">
                    <agm-marker [latitude]="tofloat(data.lat)" [longitude]="tofloat(data.long)"></agm-marker>
                  </agm-map>
                </div>
              <div class="card-body">
                <h4 class="card-title text-center">{{data.name}}</h4>
                <p class="card-text">{{data.city}} , {{data.address}}</p>
                
              </div>
              <div class="card-footer">
                <a class="btn btn-primary btn-block" data-toggle="modal" data-target="#gasStation" (click)="passID(data)" >View Details</a>
              </div>
            </div>
           
        </div>

      </div>
    </div>
  <!-- Modal -->
  <div class="modal fade" id="gasStation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" *ngIf="DataInModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLongTitle">
            <div class="row">
              <div class="col-3">
                  <img width="65px" height="40px" src="https://maps.gstatic.com/mapfiles/place_api/icons/gas_station-71.png" alt="**">
              </div>
              <div class="col-9">
                  {{DataInModal.name}}
              </div>
            </div>
            </h2>
          
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-12" *ngIf="existReview">
                  <div class="rate">
                      <span class="heading">Your Rate</span>
                      <input type="radio" id="star5" name="rate" value="5" />
                      <label [ngStyle]="{'color':Review >= '5' ? '#ffc700' : '#ccc' }"  for="star5" title="text" (click)="makeGasStationReview(DataInModal.id,5)">5 stars</label>
                      <input type="radio" id="star4" name="rate" value="4" />
                      <label [ngStyle]="{'color':Review >= '4' ? '#ffc700' : '#ccc' }"  for="star4" title="text" (click)="makeGasStationReview(DataInModal.id,4)">4 stars</label>
                      <input type="radio" id="star3" name="rate" value="3" />
                      <label [ngStyle]="{'color':Review >= '3' ? '#ffc700' : '#ccc' }"  for="star3" title="text" (click)="makeGasStationReview(DataInModal.id,3)">3 stars</label>
                      <input type="radio" id="star2" name="rate" value="2" />
                      <label [ngStyle]="{'color':Review >= '2' ? '#ffc700' : '#ccc' }"  for="star2" title="text" (click)="makeGasStationReview(DataInModal.id,2)">2 stars</label>
                      <input type="radio" id="star1" name="rate" value="1" />
                      <label [ngStyle]="{'color':Review >= '1' ? '#ffc700' : '#ccc' }"  for="star1" title="text" (click)="makeGasStationReview(DataInModal.id,1)">1 star</label>
                    </div>
              </div>
              <div class="col-12" *ngIf="!existReview">
                  <div class="rate">
                      <span class="heading">Your Rate</span>
                      <input type="radio" id="star5" name="rate" value="5" />
                      <label for="star5" title="text" (click)="makeGasStationReview(DataInModal.id,5)">5 stars</label>
                      <input type="radio" id="star4" name="rate" value="4" />
                      <label for="star4" title="text" (click)="makeGasStationReview(DataInModal.id,4)">4 stars</label>
                      <input type="radio" id="star3" name="rate" value="3" />
                      <label for="star3" title="text" (click)="makeGasStationReview(DataInModal.id,3)">3 stars</label>
                      <input type="radio" id="star2" name="rate" value="2" />
                      <label for="star2" title="text" (click)="makeGasStationReview(DataInModal.id,2)">2 stars</label>
                      <input type="radio" id="star1" name="rate" value="1" />
                      <label for="star1" title="text" (click)="makeGasStationReview(DataInModal.id,1)">1 star</label>
                    </div>
              </div>
            <div class="col-12">
              <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                      gas
                      <span class="badge badge-primary badge-pill" *ngIf="DataInModal.gas">Available</span>
                      <span class="badge badge-danger badge-pill" *ngIf="!DataInModal.gas">Not Available</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                      Oil Change
                      <span class="badge badge-primary badge-pill" *ngIf="DataInModal.oil_change">Available</span>
                      <span class="badge badge-danger badge-pill" *ngIf="!DataInModal.oil_change">Not Available</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                      Petrol 80
                      <span class="badge badge-primary badge-pill" *ngIf="DataInModal.petrol_80">Available</span>
                      <span class="badge badge-danger badge-pill" *ngIf="!DataInModal.petrol_80">Not Available</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                      Petrol 92
                      <span class="badge badge-primary badge-pill" *ngIf="DataInModal.petrol_92">Available</span>
                      <span class="badge badge-danger badge-pill" *ngIf="!DataInModal.petrol_92">Not Available</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                      Petrol 95
                      <span class="badge badge-primary badge-pill" *ngIf="DataInModal.petrol_95">Available</span>
                      <span class="badge badge-danger badge-pill" *ngIf="!DataInModal.petrol_95">Not Available</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                      Sollar
                      <span class="badge badge-primary badge-pill" *ngIf="DataInModal.sollar">Available</span>
                      <span class="badge badge-danger badge-pill" *ngIf="!DataInModal.sollar">Not Available</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                      Tier repare
                      <span class="badge badge-primary badge-pill" *ngIf="DataInModal.tier_repare">Available</span>
                      <span class="badge badge-danger badge-pill" *ngIf="!DataInModal.tier_repare">Not Available</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Align Wheel
                    <span class="badge badge-primary badge-pill" *ngIf="DataInModal.align_wheel">Available</span>
                    <span class="badge badge-danger badge-pill" *ngIf="!DataInModal.align_wheel">Not Available</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                      Blowing Air
                      <span class="badge badge-primary badge-pill" *ngIf="DataInModal.blowing_air">Available</span>
                      <span class="badge badge-danger badge-pill" *ngIf="!DataInModal.blowing_air">Not Available</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                      Blowing Nitro
                      <span class="badge badge-primary badge-pill" *ngIf="DataInModal.blowing_nitro">Available</span>
                      <span class="badge badge-danger badge-pill" *ngIf="!DataInModal.blowing_nitro">Not Available</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                      Car Washing
                      <span class="badge badge-primary badge-pill" *ngIf="DataInModal.car_washing">Available</span>
                      <span class="badge badge-danger badge-pill" *ngIf="!DataInModal.car_washing">Not Available</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                      Fix Suspens
                      <span class="badge badge-primary badge-pill" *ngIf="DataInModal.fix_suspension">Available</span>
                      <span class="badge badge-danger badge-pill" *ngIf="!DataInModal.fix_suspension">Not Available</span>
                  </li>
                </ul>
            </div>
            <div class="col-12">
                <div class="rate">
                    <span class="heading">Public Rating</span>
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label  for="star5" title="text" (click)="makeGasStationReview(DataInModal.id,5)">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text" (click)="makeGasStationReview(DataInModal.id,4)">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text" (click)="makeGasStationReview(DataInModal.id,3)">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text" (click)="makeGasStationReview(DataInModal.id,2)">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text" (click)="makeGasStationReview(DataInModal.id,1)">1 star</label>
                  </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <!-- <button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
      </div>
    </div>
  </div>
  <!--End Modal-->

  <!-- start maps Modal -->
<section class="sectionOfMaps">
  <div *ngIf="lat" class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
  
        <div class="modal-body">
          <agm-map [zoom]='20' [latitude]="tofloat(lat)" [longitude]="tofloat(long)">
            <agm-marker [latitude]="tofloat(lat)" [longitude]="tofloat(long)"></agm-marker>
          </agm-map>
        </div>
  
      </div>
    </div>
  </div>
</section>
  <!-- end maps modal -->
</section>