
 <!--------------------------------Modal 4 of ad product2--------------------------->
      
 <div *ngIf="mangeProduct"  class="modal fade" id="editProduct2Modal" tabindex="-1"  role="dialog" aria-labelledby="myModalLabel"
 aria-hidden="true" style="z-index: 9999999999999;">
 <div class="modal-dialog modal-notify modal-warning" role="document">
   <!--Content-->
   <div class="modal-content">
     <!--Header-->
     <div class="modal-header text-center">
       <h4 class="modal-title white-text w-100 font-weight-bold py-2">edit Product2</h4>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true" class="white-text">&times;</span>
       </button>
     </div>

     <!--Body-->
     <div class="modal-body">
       <div class="row">
        <div class="col-12">
            <div class="formError">
                <div *ngFor="let mss of alert">
                  <div class="alert alert-danger" role="alert">
                    <strong>Alert!</strong> {{mss}}.
                  </div>
                </div>
            </div>
        </div>
       </div>
       <form #product2_validation2="ngForm" (ngSubmit)='editProduct()' id="form_product22" novalidate>
   
       <div class="md-form mb-5" style="margin-bottom:0em !important">
          <i class="fas fa-money-check-alt prefix grey-text" style="font-size:24px"></i>
          <input type="text" id="product2_name" class="form-control validate is-valid" placeholder="Product2 Name" required
          [(ngModel)]='mangeProduct.name' name="Product2_name" #product2_name='ngModel' [class.error]="product2_name.errors && product2_name.invalid && product2_name.touched">

          <div class="form-input-error" *ngIf="product2_name.errors && product2_name.invalid && product2_name.touched">
              <small *ngIf="product2_name.errors.required" class='text-danger ml-2' style="margin-left:3em !important">
                  <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> Product2 Name is required 
                <br></small>
              <small *ngIf="product2_name.errors.pattern" class='text-danger ml-2' style="margin-left:3em !important">
                <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> Product2 Name is invalid
              </small>
          </div>
        </div>

        <div class="md-form mb-5" style="margin-bottom:0em !important">
            <i class="fas fa-money-check-alt prefix grey-text" style="font-size:24px"></i>
            <input type="text" id="product2_brand" class="form-control validate is-valid" placeholder="Product2 Brand" required
            [(ngModel)]='mangeProduct.brand' name="Product2_brand" #product2_brand='ngModel' [class.error]="product2_brand.errors && product2_brand.invalid && product2_brand.touched">
    
            <div class="form-input-error" *ngIf="product2_brand.errors && product2_brand.invalid && product2_brand.touched">
                <small *ngIf="product2_brand.errors.required" class='text-danger ml-2' style="margin-left:3em !important">
                    <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> Brand is required 
                  <br></small>
                <small *ngIf="product2_brand.errors.pattern" class='text-danger ml-2' style="margin-left:3em !important">
                  <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> Brand is invalid
                </small>
            </div>
          </div>

          <div class="md-form mb-5" style="margin-bottom:0em !important">
              <i class="fas fa-money-check-alt prefix grey-text" style="font-size:24px"></i>
              <input type="number" id="product2_price" class="form-control validate is-valid" placeholder="Price" required
              [(ngModel)]='mangeProduct.price' name="Product2_price" #product2_price='ngModel' [class.error]="product2_price.errors && product2_price.invalid && product2_price.touched">
      
              <div class="form-input-error" *ngIf="product2_price.errors && product2_price.invalid && product2_price.touched">
                  <small *ngIf="product2_price.errors.required" class='text-danger ml-2' style="margin-left:3em !important">
                      <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> Price is required 
                    <br></small>
                  <small *ngIf="product2_price.errors.pattern" class='text-danger ml-2' style="margin-left:3em !important">
                    <span style="color:red;margin-right:5px;"><i class="fas fa-times red-text"></i></span> Price is invalid
                  </small>
              </div>
            </div>

            <div class="md-form md-outline">
                <textarea id="form75" [(ngModel)]='mangeProduct.description' name="description_workshop" class="form-control" rows="3" required></textarea>
                <label for="form75">Write Description Of Your Product2</label>
            </div>

      
       

     </form>
     </div>
     <!--Footer-->
     <div class="modal-footer justify-content-center">
       <button type="submit" form="form_product22"  [disabled]='product2_validation2.form.invalid'  class="btn btn-warning">Update<i class="fas fa-paper-plane-o ml-1"></i></button>
     </div>
   
   </div>
   <!--/.Content-->
   
 </div>
</div>

 <!-- end Modal 4 of add producr -->