<!-- Start Slider -->
<section class="slider">
		<div id="headerSlider" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators carousel-bullets">
			   	<li data-target="#headerSlider" data-slide-to="0" class="active"></li>
			    <li data-target="#headerSlider" data-slide-to="1"></li>
			    <li data-target="#headerSlider" data-slide-to="2"></li>
			    <li data-target="#headerSlider" data-slide-to="3"></li>
			 </ol>
			 <div class="carousel-inner">
			    <div class="carousel-item active">
					<div class="overlay">
						<div class="carousel-caption">
							<p>We're an Independent Design &amp; <span class="highlighted">Development </span>Agency.</p>
						</div>
					</div>
			    </div>
			    <div class="carousel-item">
					<div class="overlay">
						<div class="carousel-caption">
							<p>We're an Independent Design &amp; <span class="highlighted">Development </span>Agency.</p>

						</div>
					</div>
			    </div>
			    <div class="carousel-item">
					<div class="overlay">
						<div class="carousel-caption">
							<p>We're an Independent Design &amp; <span class="highlighted">Development </span>Agency.</p>
						</div>
					</div>
			    </div>
			    <div class="carousel-item">
					<div class="overlay">
						<div class="carousel-caption">
							<p>We're an Independent Design &amp; <span class="highlighted">Development </span>Agency.</p>
						</div>
					</div>
			    </div>
			</div>
			<a class="carousel-control-prev arrow-control" href="#headerSlider" role="button" data-slide="prev">
			    <i class="fas fa-angle-left indicator"></i>
			    <span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next arrow-control" href="#headerSlider" role="button" data-slide="next">
			    <i class="fas fa-angle-right indicator"></i>
			    <span class="sr-only">Next</span>
			</a>
		</div>
	</section>
	<!-- END Slider -->
