	<!-- Start Page-Header -->
	<section class="page-header adaptive-page-header">
		<div class="overlay">
			<div class="container">
				<div class="content">
					<h3 class="text-left">Shop</h3>
					<div class="page-nav">
						<ol class="breadcrumb text-right">
						    <li class="breadcrumb-item"><a href="#">home</a></li>
						    <li class="breadcrumb-item active" aria-current="page">shop</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END Page-Header -->

	<section class="shop">

		<!-- Start product-area -->
		<div class="product-area">
			<div class="row">
				<!-- Start categories -->
				<div class="categories col-lg-3">
					<div class="row">
						<div class="col-lg-12 col-10 ">
							<h3 class="text-lg-center text-left ml-lg-0 ml-4">product categories</h3>
						</div>
						
						<div class="button-toggle col-2 text-right">
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#productCategories" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						   	 	<i class="fas fa-bars"></i>
							</button>
						</div>
					</div>
					<nav class="navbar navbar-expand-lg">
					  	<div class="collapse navbar-collapse" id="productCategories">
						    <ul class="navbar-nav list-group list-group-flush">
							    <li class="list-group-item">
							        <a class="nav-link" href="#">Audio & Electronics</a>
							    </li>
							    <li class="list-group-item">
							        <a class="nav-link" href="#">Body Parts</a>
							    </li>

								<li class="list-group-item indent-items">
									<div class="row">
										<h5 class="title col-10">
											<a class="nav-link">Exterior</a>
										</h5>
										<div class="col-2 text-right">
											<button type="button" class="btn pt-2" data-toggle="collapse" data-target="#firstCollapse" aria-expanded="false" aria-controls="firstCollapse">
											    <i class="fas fa-plus-circle"></i>
											</button>
										</div>
									</div>
									<ul class="collapse" id="firstCollapse">
							          	<li class="list-group-item">
							        		<a class="nav-link" href="#">Mirrors</a>
							    		</li>
							            <li class="list-group-item">
							        		<a class="nav-link" href="#">Spoilers</a>
							    		</li>
									</ul>
							    </li>

								<li class="list-group-item indent-items">
									<div class="row">
										<h5 class="title col-10">
											<a class="nav-link">Interior</a>
										</h5>
										<div class="col-2 text-right">
											<button type="button" class="btn pt-2" data-toggle="collapse" data-target="#secondCollapse" aria-expanded="false" aria-controls="secondCollapse">
											    <i class="fas fa-plus-circle"></i>
											</button>
										</div>
									</div>
									<ul class="collapse" id="secondCollapse">
							          	<li class="list-group-item">
							        		<a class="nav-link" href="#">Pedals</a>
							    		</li>
							            <li class="list-group-item">
							        		<a class="nav-link" href="#">Shift Knobs</a>
							    		</li>
									</ul>
							    </li>

							    <li class="list-group-item">
							        <a class="nav-link" href="#">Lighting</a>
							    </li>

								<li class="list-group-item indent-items">
									<div class="row">
										<h5 class="title col-10">
											<a class="nav-link">Performance</a>
										</h5>
										<div class="col-2 text-right">
											<button type="button" class="btn pt-2" data-toggle="collapse" data-target="#thirdCollapse" aria-expanded="false" aria-controls="thirdCollapse">
											    <i class="fas fa-plus-circle"></i>
											</button>
										</div>
									</div>
									<ul class="collapse" id="thirdCollapse">
							          	<li class="list-group-item">
							        		<a class="nav-link" href="#">Engine</a>
							    		</li>
							            <li class="list-group-item">
							        		<a class="nav-link" href="#">Suspension</a>
							    		</li>
									</ul>
							    </li>

								<li class="list-group-item">
							        <a class="nav-link" href="#">Wheels & Tires</a>
							    </li>
								<li class="list-group-item">
							        <a class="nav-link" href="#">Uncategorized</a>
							    </li>
						    </ul>
					  	</div>
					</nav>
				</div>
				<!-- END categories -->

				<!-- Start products -->
				<div class="products col-lg-9">

					<!-- Start search-bar -->
					<div class="search-bar">
						<div class="row">
							<form class="col-12">
								<div class="input-group">
									<div class="input-group-prepend">
								    	<span class="input-group-text">
								    		sort by <i class="fas fa-sort ml-2"></i>
										</span>
								  	</div>
								  	<select class="form-control">
										<option value="">Default Sorting</option>
										<option value="">Sort by popularity</option>
										<option value="">Sort by average rating</option>
										<option value="">Sort by newness</option>
										<option value="">Sort by price: low to high</option>
										<option value="">Sort by price: high to low</option>
									</select>
								</div>				
							</form>
							<h4 class="col-12 text-right mt-1 mr-3">4 results</h4>
						</div>
					</div>
					<!-- END search-bar -->
					
					<div class="product-item mt-lg-1 mt-4">
						<div class="row">
							<div class="item col-md-4 col-sm-6 mb-4">
						    	<div class="card">
							    	<div class="image-header">
						    			<div class="triangle triangle-red">
							    			<span>99% off</span>
							   			</div>
								  		<img src="../../assets/images/small-car/19-macan-1-167x119.jpg" class="card-img-top" alt="...">
								  		<div class="overlay">
								  			<button class="btn btn-primary">quick view</button>
								  		</div> 	
					    			</div>
									<div class="card-body text-left">
								    	<h5 class="card-title"><a href="#">2013 BMW 328i Touring Edition</a></h5>
								    	<p class="card-text">No owners, Brand new</p>
										<h6 class="card-subtitle">$55,000</h6>
										<div class="rating text-right">
											<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
										</div>
										<div class="pt-3">
											<button class="btn btn-danger btn-block text-uppercase">
												add to card
												<i class="fas fa-cart-plus ml-2"></i>
											</button>
										</div>
								  	</div>
								</div>
							</div>

							<div class="item col-md-4 col-sm-6 mb-4">
								<div class="card">
									<div class="image-header">
										<img src="../../assets/images/small-car/24-m6-1-167x119.jpg" class="card-img-top" alt="...">
								  		<div class="overlay">
								  			<button class="btn btn-primary">quick view</button>
								  		</div> 	
								  	</div>
									<div class="card-body text-left">
							    		<h5 class="card-title"><a href="#">2013 BMW 328i Touring Edition</a></h5>
								    	<p class="card-text">No owners, Brand new</p>
								    	<h6 class="card-subtitle">$55,000</h6>
										<div class="rating text-right">
											<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
										</div>
										<div class="pt-3">
											<button class="btn btn-danger btn-block text-uppercase">
												add to card
												<i class="fas fa-cart-plus ml-2"></i>
											</button>
										</div>
									</div>
								</div>
						    </div>

							<div class="item col-md-4 col-md-4 mb-4">
								<div class="card">
									<div class="image-header">
										<img src="../../assets/images/foglights1.jpg" class="card-img-top" alt="...">
								  		<div class="overlay">
								  			<button class="btn btn-primary">quick view</button>
								  		</div> 	
								  	</div>
									<div class="card-body text-left">
							    		<h5 class="card-title"><a href="#">2013 BMW 328i Touring Edition</a></h5>
								    	<p class="card-text">No owners, Brand new</p>
								    	<h6 class="card-subtitle">$55,000</h6>
										<div class="rating text-right">
											<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
										</div>
										<div class="pt-3">
											<button class="btn btn-danger btn-block text-uppercase">
												add to card
												<i class="fas fa-cart-plus ml-2"></i>
											</button>
										</div>
									</div>
								</div>
						    </div>

							<div class="item col-md-4 col-sm-6 mb-4">
								<div class="card">
									<div class="image-header">
										<img src="../../assets/images/small-car/24-m6-1-167x119.jpg" class="card-img-top" alt="...">
								  		<div class="overlay">
								  			<button class="btn btn-primary">quick view</button>
								  		</div> 	
								  	</div>
									<div class="card-body text-left">
							    		<h5 class="card-title"><a href="#">2013 BMW 328i Touring Edition</a></h5>
								    	<p class="card-text">No owners, Brand new</p>
								    	<h6 class="card-subtitle">$55,000</h6>
										<div class="rating text-right">
											<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
										</div>
										<div class="pt-3">
											<button class="btn btn-danger btn-block text-uppercase">
												add to card
												<i class="fas fa-cart-plus ml-2"></i>
											</button>
										</div>
									</div>
								</div>
						    </div>

							<div class="item col-md-4 col-sm-6 mb-4">
								<div class="card">
									<div class="image-header">
										<img src="../../assets/images/small-car/24-m6-1-167x119.jpg" class="card-img-top" alt="...">
								  		<div class="overlay">
								  			<button class="btn btn-primary">quick view</button>
								  		</div> 	
								  	</div>
									<div class="card-body text-left">
							    		<h5 class="card-title"><a href="#">2013 BMW 328i Touring Edition</a></h5>
								    	<p class="card-text">No owners, Brand new</p>
								    	<h6 class="card-subtitle">$55,000</h6>
										<div class="rating text-right">
											<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
										</div>
										<div class="pt-3">
											<button class="btn btn-danger btn-block text-uppercase">
												add to card
												<i class="fas fa-cart-plus ml-2"></i>
											</button>
										</div>
									</div>
								</div>
						    </div>

						 	<div class="item col-md-4 col-sm-6 mb-4">
								<div class="card">
									<div class="image-header">
										<img src="../../assets/images/small-car/24-m6-1-167x119.jpg" class="card-img-top" alt="...">
								  		<div class="overlay">
								  			<button class="btn btn-primary">quick view</button>
								  		</div> 	
								  	</div>
									<div class="card-body text-left">
							    		<h5 class="card-title"><a href="#">2013 BMW 328i Touring Edition</a></h5>
								    	<p class="card-text">No owners, Brand new</p>
								    	<h6 class="card-subtitle">$55,000</h6>
										<div class="rating text-right">
											<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
										</div>
										<div class="pt-3">
											<button class="btn btn-danger btn-block text-uppercase">
												add to card
												<i class="fas fa-cart-plus ml-2"></i>
											</button>
										</div>
									</div>
								</div>
						    </div>

							<div class="item col-md-4 col-sm-6 mb-4">
						    	<div class="card">
							    	<div class="image-header">
						    			<div class="triangle triangle-red">
							    			<span>99% off</span>
							   			</div>
								  		<img src="../../assets/images/small-car/19-macan-1-167x119.jpg" class="card-img-top" alt="...">
								  		<div class="overlay">
								  			<button class="btn btn-primary">quick view</button>
								  		</div> 	
					    			</div>
									<div class="card-body text-left">
								    	<h5 class="card-title"><a href="#">2013 BMW 328i Touring Edition</a></h5>
								    	<p class="card-text">No owners, Brand new</p>
										<h6 class="card-subtitle">$55,000</h6>
										<div class="rating text-right">
											<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
										</div>
										<div class="pt-3">
											<button class="btn btn-danger btn-block text-uppercase">
												add to card
												<i class="fas fa-cart-plus ml-2"></i>
											</button>
										</div>
								  	</div>
								</div>
							</div>

							<div class="item col-md-4 col-sm-6 mb-4">
								<div class="card">
									<div class="image-header">
										<img src="../../assets/images/small-car/24-m6-1-167x119.jpg" class="card-img-top" alt="...">
								  		<div class="overlay">
								  			<button class="btn btn-primary">quick view</button>
								  		</div> 	
								  	</div>
									<div class="card-body text-left">
							    		<h5 class="card-title"><a href="#">2013 BMW 328i Touring Edition</a></h5>
								    	<p class="card-text">No owners, Brand new</p>
								    	<h6 class="card-subtitle">$55,000</h6>
										<div class="rating text-right">
											<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
										</div>
										<div class="pt-3">
											<button class="btn btn-danger btn-block text-uppercase">
												add to card
												<i class="fas fa-cart-plus ml-2"></i>
											</button>
										</div>
									</div>
								</div>
						    </div>

							<div class="item col-md-4 col-md-4 mb-4">
								<div class="card">
									<div class="image-header">
										<img src="../../assets/images/foglights1.jpg" class="card-img-top" alt="...">
								  		<div class="overlay">
								  			<button class="btn btn-primary">quick view</button>
								  		</div> 	
								  	</div>
									<div class="card-body text-left">
							    		<h5 class="card-title"><a href="#">2013 BMW 328i Touring Edition</a></h5>
								    	<p class="card-text">No owners, Brand new</p>
								    	<h6 class="card-subtitle">$55,000</h6>
										<div class="rating text-right">
											<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
										</div>
										<div class="pt-3">
											<button class="btn btn-danger btn-block text-uppercase">
												add to card
												<i class="fas fa-cart-plus ml-2"></i>
											</button>
										</div>
									</div>
								</div>
						    </div>

							<div class="item col-md-4 col-sm-6 mb-4">
								<div class="card">
									<div class="image-header">
										<img src="../../assets/images/small-car/24-m6-1-167x119.jpg" class="card-img-top" alt="...">
								  		<div class="overlay">
								  			<button class="btn btn-primary">quick view</button>
								  		</div> 	
								  	</div>
									<div class="card-body text-left">
							    		<h5 class="card-title"><a href="#">2013 BMW 328i Touring Edition</a></h5>
								    	<p class="card-text">No owners, Brand new</p>
								    	<h6 class="card-subtitle">$55,000</h6>
										<div class="rating text-right">
											<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
										</div>
										<div class="pt-3">
											<button class="btn btn-danger btn-block text-uppercase">
												add to card
												<i class="fas fa-cart-plus ml-2"></i>
											</button>
										</div>
									</div>
								</div>
						    </div>

							<div class="item col-md-4 col-sm-6 mb-4">
								<div class="card">
									<div class="image-header">
										<img src="../../assets/images/small-car/24-m6-1-167x119.jpg" class="card-img-top" alt="...">
								  		<div class="overlay">
								  			<button class="btn btn-primary">quick view</button>
								  		</div> 	
								  	</div>
									<div class="card-body text-left">
							    		<h5 class="card-title"><a href="#">2013 BMW 328i Touring Edition</a></h5>
								    	<p class="card-text">No owners, Brand new</p>
								    	<h6 class="card-subtitle">$55,000</h6>
										<div class="rating text-right">
											<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
										</div>
										<div class="pt-3">
											<button class="btn btn-danger btn-block text-uppercase">
												add to card
												<i class="fas fa-cart-plus ml-2"></i>
											</button>
										</div>
									</div>
								</div>
						    </div>

						 	<div class="item col-md-4 col-sm-6 mb-4">
								<div class="card">
									<div class="image-header">
										<img src="../../assets/images/small-car/24-m6-1-167x119.jpg" class="card-img-top" alt="...">
								  		<div class="overlay">
								  			<button class="btn btn-primary">quick view</button>
								  		</div> 	
								  	</div>
									<div class="card-body text-left">
							    		<h5 class="card-title"><a href="#">2013 BMW 328i Touring Edition</a></h5>
								    	<p class="card-text">No owners, Brand new</p>
								    	<h6 class="card-subtitle">$55,000</h6>
										<div class="rating text-right">
											<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
										</div>
										<div class="pt-3">
											<button class="btn btn-danger btn-block text-uppercase">
												add to card
												<i class="fas fa-cart-plus ml-2"></i>
											</button>
										</div>
									</div>
								</div>
						    </div>
						</div>
					</div>

				<nav class="nav-product" aria-label="product navigation">
				  <ul class="pagination">
				    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
				    <li class="page-item"><a class="page-link" href="#">1</a></li>
				    <li class="page-item"><a class="page-link" href="#">2</a></li>
				    <li class="page-item"><a class="page-link" href="#">3</a></li>
				    <li class="page-item"><a class="page-link" href="#">Next</a></li>
				  </ul>
				</nav>

				</div>
				<!-- END products -->

			</div>
		</div>
		<!-- END product-area -->

	</section>







