<app-slider></app-slider>

<!-- Start featues -->
<section class="features">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4 wow bounceIn">
          <div class="icon">
            <i class="far fa-chart-bar"></i>
          </div>
          <h4>Results Driven</h4>
          <p>Sed ut perspiciatis unde om nis natus error sit volup atem accusant dolorem que laudantium. Totam aperiam,
            eaque ipsa quae ai.</p>
        </div>
        <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4 wow bounceIn" data-wow-delay="0.5s">
          <div class="icon">
            <i class="fas fa-road"></i>
          </div>
          <h4>Proven Technology</h4>
          <p>Sed ut perspiciatis unde om nis natus error sit volup atem accusant dolorem que laudantium. Totam aperiam,
            eaque ipsa quae ai.</p>
        </div>
        <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4 wow bounceIn" data-wow-delay="1s">
          <div class="icon">
            <i class="fas fa-flag-checkered"></i>
          </div>
          <h4>Winning Culture</h4>
          <p>Sed ut perspiciatis unde om nis natus error sit volup atem accusant dolorem que laudantium. Totam aperiam,
            eaque ipsa quae ai.</p>
        </div>
        <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4 wow bounceIn" data-wow-delay="1.5s">
          <div class="icon">
            <i class="fas fa-tachometer-alt"></i>
          </div>
          <h4>Top Performance</h4>
          <p>Sed ut perspiciatis unde om nis natus error sit volup atem accusant dolorem que laudantium. Totam aperiam,
            eaque ipsa quae ai.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Start Review -->
<section class="text-center">
  <div class="overlay section-padding pt-lg-5 review-section">
    <div class="container">
      <div class="row review">
        <div class="col-md-12 text-center">
          <div class="review-circle text-center">
            <img src="../../assets/images/award%20(1).png">
          </div>
        </div>
        <div class="col-md-12 text-center">
          <h5 class="review-title">AUTO PARTS REVIEWS</h5>
        </div>
        <div class="col-md-4">
          <div class="review-square">
            <div class="review-stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h5>
              Great Steering Pump at a Great Price!
            </h5>
            <span>
              Seems as well made and heavy duty as original. Time will tell if I get 150,000 miles out of it. Wish it wasn't made in China.
            </span>
          </div>
          <div class="review-horizontal-line"></div>
          <h6 class="review-text">
            Rein® PSR0022
          </h6>
          <span class="review-desc">
             Power Steering Reservoir
          </span>
        </div>

        <div class="col-md-4">
          <div class="review-square">
            <div class="review-stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h5>
              Installed Exactly the Same as the Origin.
            </h5>
            <span>
              OEM pump at a discount price, easy to install, functions perfectly!!
            </span>
          </div>
          <div class="review-horizontal-line"></div>
          <h6 class="review-text">
            Rein® PSR0022
          </h6>
          <span class="review-desc">
             Power Steering Reservoir
          </span>
        </div>

        <div class="col-md-4">
          <div class="review-square">
            <div class="review-stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h5>
              Great reservoir walk at a Great Price!
            </h5>
            <span>
              OEM direct replacement, fits perfectly only steering pump. Brought my car up to spec again..
            </span>
          </div>
          <div class="review-horizontal-line"></div>
          <h6 class="review-text">
            Rein® PSR0022
          </h6>
          <span class="review-desc">
             Power Steering Reservoir
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- END Review -->






