<app-slider></app-slider>


<!-- Start drive-test-ads -->
<section class="drive-test-ads section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <h2 class="col-lg-9 text-lg-left text-center mb-lg-0 mb-4">
        Discover a website for car dealers that converts visitors to
        <span class="alternate-font">customers</span>
      </h2>
      <div class="col-lg-3 text-lg-right text-center">
        <button>Schedule a Test Drive</button>
      </div>
    </div>
  </div>
  <div class="message-shadow"></div>
</section>
<!-- END drive-test-ads -->

<!-- Start latest-news -->
<section class="latest-news text-center">
  <div class="container">
    <div class="news row justify-content-center">

      <div class="card text-left col-lg mb-3">
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img src="../../assets/images/car/car11.jpg" alt="Car1" class="card-img-top">
            </div>
            <div class="flip-box-back">
              <h2>Race Ready</h2>
              <div>
					      	<span>
					      		<i class="fas fa-link"></i>
					      	</span>
                <span>
					      		<i class="fas fa-arrows-alt"></i>
					      	</span>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <h5 class="card-title">FACTORY READY FOR TRACK DAY</h5>
          <p class="card-text">Sea veniam lucilius neglegentur ad, an per sumo volum voluptatibus. Qui cu everti
            repudiare. Eam ut cibo nobis aperiam, elit qualisque at cum. Possit antiopam id est. Illud delicata ea mel,
            sed novum mucius id. Nullam qua.</p>
        </div>
      </div>

      <div class="card text-left col-lg mb-3">
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img src="../../assets/images/car/car21.jpg" alt="Car2" class="card-img-top">
            </div>
            <div class="flip-box-back">
              <h2>Family Oriented</h2>
              <div>
					      	<span>
					      		<i class="fas fa-link"></i>
					      	</span>
                <span>
					      		<i class="fas fa-arrows-alt"></i>
					      	</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">SPORT UTILITY FOR THE FAMILY</h5>
          <p class="card-text">Cum ut tractatos imperdiet, no tamquam facilisi qui. Eum tibique consectetuer in, an
            legimus referrentur vis, vocent deseruisse ex mel. Sed te idque graecis. Vel ne libris dolores, in mel
            graece dolorum.</p>
        </div>
      </div>

      <div class="card text-left col-lg">
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img src="../../assets/images/car/car31.jpg" alt="Car3" class="card-img-top">
            </div>
            <div class="flip-box-back">
              <h2>Race Ready</h2>
              <div>
					      	<span>
					      		<i class="fas fa-link"></i>
					      	</span>
                <span>
					      		<i class="fas fa-arrows-alt"></i>
					      	</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">MAKE AN EXECUTIVE STATEMENT</h5>
          <p class="card-text">Te inermis cotidieque cum, sed ea utroque atomorum sadipscing. Qui id oratio everti
            scaevola, vim ea augue ponderum vituperatoribus, quo adhuc abhorreant omittantur ad. No his fierent perpetua
            consequat, et nis.</p>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- END latest-news -->

<!-- Start featues -->
<section class="features">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4 wow bounceIn">
          <div class="icon">
            <i class="far fa-chart-bar"></i>
          </div>
          <h4>Results Driven</h4>
          <p>Sed ut perspiciatis unde om nis natus error sit volup atem accusant dolorem que laudantium. Totam aperiam,
            eaque ipsa quae ai.</p>
        </div>
        <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4 wow bounceIn" data-wow-delay="0.5s">
          <div class="icon">
            <i class="fas fa-road"></i>
          </div>
          <h4>Proven Technology</h4>
          <p>Sed ut perspiciatis unde om nis natus error sit volup atem accusant dolorem que laudantium. Totam aperiam,
            eaque ipsa quae ai.</p>
        </div>
        <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4 wow bounceIn" data-wow-delay="1s">
          <div class="icon">
            <i class="fas fa-flag-checkered"></i>
          </div>
          <h4>Winning Culture</h4>
          <p>Sed ut perspiciatis unde om nis natus error sit volup atem accusant dolorem que laudantium. Totam aperiam,
            eaque ipsa quae ai.</p>
        </div>
        <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4 wow bounceIn" data-wow-delay="1.5s">
          <div class="icon">
            <i class="fas fa-tachometer-alt"></i>
          </div>
          <h4>Top Performance</h4>
          <p>Sed ut perspiciatis unde om nis natus error sit volup atem accusant dolorem que laudantium. Totam aperiam,
            eaque ipsa quae ai.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END featues -->

<!-- Start why-choose-us -->
<section class="why-choose-us section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 wow slideInLeft" data-wow-duration="2s">
        <h2><span>WELCOME</span> TO YOUR NEW WEBSITE</h2>
        <p class="mb-4">Lorem ipsum dolor sit amet, falli tollit cetero te eos. Ea ullum liber aperiri mi, impetus ate
          philosophia ad duo, quem regione ne ius. Vis quis lobortis dissentias ex, in du aft philosophia, malis
          necessitatibus no mei. Volumus sensibus qui ex, eum duis doming ad. Modo liberavisse eu mel, no viris prompta
          sit. Pro labore sadipscing et. Ne peax egat usu te mel <span>vivendo scriptorem.</span> Pro labore sadipscing
          et. Ne pertinax egat usu te mel vivendo scriptorem.</p>
        <p>Cum ut tractatos imperdiet, no tamquam facilisi qui. Eum tibique onsectetuer in, an referrentur vis, vocent
          deseruisse ex mel. Sed te <span>idque graecis.</span> Vel ne libris dolores, mel graece mel vivendo scriptorem
          dolorum.</p>
      </div>

      <div class="col-md-6 mt-md-0 mt-5 wow slideInRight" data-wow-duration="2s">
        <h2><span>SEARCH</span> OUR INVENTORY</h2>
        <div class="search-inventory">
          <form>
            <div class="row">
              <div class="col-lg">

                <div class="form-row mb-2">
                  <select class="form-control col-5 text-left">
                    <option value="">Min Year</option>
                    <option value="">2009</option>
                    <option value="">2010</option>
                    <option value="">2011</option>
                    <option value="">2012</option>
                    <option value="">2013</option>
                    <option value="">2014</option>
                    <option value="">2015</option>
                  </select>

                  <span class="mx-2">to</span>

                  <select class="form-control col-5 text-right">
                    <option value="">Max Year</option>
                    <option value="">2009</option>
                    <option value="">2010</option>
                    <option value="">2011</option>
                    <option value="">2012</option>
                    <option value="">2013</option>
                    <option value="">2014</option>
                    <option value="">2015</option>
                  </select>
                </div>

                <select class="form-control mb-2">
                  <option value="">Make</option>
                  <option value="">Acura</option>
                  <option value="">BMW</option>
                  <option value="">Jaguar</option>
                  <option value="">Mazda</option>
                  <option value="">Nissan</option>
                  <option value="">Porsche</option>
                </select>

                <select class="form-control mb-2">
                  <option value="">Model</option>
                  <option value="">3-Series</option>
                  <option value="">Boxster</option>
                  <option value="">Carrera</option>
                  <option value="">Cayenne</option>
                  <option value="">F-type</option>
                  <option value="">GT-R</option>
                  <option value="">GTS</option>
                  <option value="">M6</option>
                  <option value="">Macan</option>
                  <option value="">Mazda6</option>
                  <option value="">RLX</option>
                </select>

                <select class="form-control mb-lg-0 mb-2">
                  <option value="">Body Style</option>
                  <option value="">2dr Car</option>
                  <option value="">4dr Car</option>
                  <option value="">Convertible</option>
                  <option value="">Sedan</option>
                  <option value="">Sports Utility Vehicle</option>
                </select>
              </div>

              <div class="col-lg">
                <div class="form-row mb-2">
                  <select class="form-control col-5">
                    <option value="">Min Mileage</option>
                    <option value="">10000</option>
                    <option value="">20000</option>
                    <option value="">30000</option>
                    <option value="">40000</option>
                    <option value="">50000</option>
                    <option value="">60000</option>
                    <option value="">70000</option>
                    <option value="">80000</option>
                    <option value="">90000</option>
                    <option value="">100000</option>
                  </select>

                  <span class="mx-2">to</span>

                  <select class="form-control col-5">
                    <option value="">Max Mileage</option>
                    <option value="">10000</option>
                    <option value="">20000</option>
                    <option value="">30000</option>
                    <option value="">40000</option>
                    <option value="">50000</option>
                    <option value="">60000</option>
                    <option value="">70000</option>
                    <option value="">80000</option>
                    <option value="">90000</option>
                    <option value="">100000</option>
                  </select>
                </div>

                <select class="form-control mb-2">
                  <option value="">Transmission</option>
                  <option value="">5-Speed Manual</option>
                  <option value="">BMW</option>
                  <option value="">6-Speed Automatic</option>
                  <option value="">6-Speed Manual</option>
                  <option value="">6-Speed Semi-Auto</option>
                  <option value="">7-Speed PDK</option>
                  <option value="">8-Speed Automatic</option>
                  <option value="">8-Speed Tiptronic</option>
                </select>

                <div class="form-row mb-2">
                  <select class="form-control col-5">
                    <option value="">Min Price</option>
                    <option value="">$10,000</option>
                    <option value="">$20,000</option>
                    <option value="">$30,000</option>
                    <option value="">$40,000</option>
                    <option value="">$50,000e</option>
                    <option value="">$60,000</option>
                    <option value="">$70,000</option>
                    <option value="">$80,000</option>
                    <option value="">$90,000</option>
                    <option value="">$100,000</option>
                  </select>

                  <span class="mx-2">to</span>

                  <select class="form-control col-5">
                    <option value="">Max Price</option>
                    <option value="">$10,000</option>
                    <option value="">$20,000</option>
                    <option value="">$30,000</option>
                    <option value="">$40,000</option>
                    <option value="">$50,000e</option>
                    <option value="">$60,000</option>
                    <option value="">$70,000</option>
                    <option value="">$80,000</option>
                    <option value="">$90,000</option>
                    <option value="">$100,000</option>
                  </select>
                </div>

                <input class="form-control" type="search" name="keywords" value="" placeholder="Refine with keywords">
              </div>
            </div>
            <div class="mt-3">
              <div class="checkbox custom-control custom-checkbox form-check-inline">
                <input class="custom-control-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="custom-control-label" for="inlineCheckbox1">Certified</label>
              </div>
              <div class="checkbox custom-control custom-checkbox form-check-inline">
                <input class="custom-control-input" type="checkbox" id="inlineCheckbox2" value="option1">
                <label class="custom-control-label" for="inlineCheckbox2">CARFAX Verified</label>
              </div>
              <div class="checkbox custom-control custom-checkbox form-check-inline">
                <input class="custom-control-input" type="checkbox" id="inlineCheckbox3" value="option1">
                <label class="custom-control-label" for="inlineCheckbox3">Brand New</label>
              </div>
            </div>
            <div class="buttons mt-3 text-right">
              <input type="button" name="" class="btn btn-danger" value="Reset">
              <input type="button" name="" class="btn btn-danger" value="Find my new vehicle">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END why-choose-us -->

<!-- Start recent-vehicles -->
<!--
  <section class="recent-vehicles mb-5">
      <div class="container">
          <div class="row">
              <div class="col-lg-2">
                  <h3>recent vehicles</h3>
                  <p>Browse through the vast selection of vehicles that have recently been added to our inventory.</p>
              </div>
              <div class="col-lg-10">

                  <div class="owl-carousel owl-theme">
                          <div class="item">
                              <div class="card" style="width: 13rem;">
                                  <div class="image-header">
                                      <div class="triangle triangle-light">
                                          <span>nismo</span>
                                      </div>
                                        <img src="../../assets/images/small-car/19-macan-1-167x119.jpg" class="card-img-top" alt="...">
                                        <div class="overlay"><i class="far fa-plus-square"></i></div>
                                  </div>
                                    <div class="card-body text-center">
                                      <h5 class="card-title">2013 BMW 328i Touring Edition</h5>
                                      <p class="card-text">No owners, Brand new</p>
                                      <h6 class="card-subtitle">$55,000</h6>
                                    </div>
                              </div>
                          </div>

                          <div class="item">
                              <div class="card" style="width: 13rem;">
                                  <div class="image-header">
                                        <img src="../../assets/images/small-car/20-boxster-1-167x119.jpg" class="card-img-top" alt="...">
                                        <div class="overlay"><i class="far fa-plus-square"></i></div>
                                  </div>
                                    <div class="card-body text-center">
                                      <h5 class="card-title">2013 BMW 328i Touring Edition</h5>
                                      <p class="card-text">No owners, Brand new</p>
                                      <h6 class="card-subtitle">$55,000</h6>
                                    </div>
                              </div>
                          </div>

                          <div class="item">
                              <div class="card" style="width: 13rem;">
                                  <div class="image-header">
                                        <img src="../../assets/images/small-car/21-cayenne-1-167x119.jpg" class="card-img-top" alt="...">
                                        <div class="overlay"><i class="far fa-plus-square"></i></div>
                                  </div>
                                    <div class="card-body text-center">
                                      <h5 class="card-title">2013 BMW 328i Touring Edition</h5>
                                      <p class="card-text">No owners, Brand new</p>
                                      <h6 class="card-subtitle">$55,000</h6>
                                    </div>
                              </div>
                          </div>

                          <div class="item">
                              <div class="card" style="width: 13rem;">
                                   <div class="image-header">
                                      <div class="triangle triangle-blue">
                                          <span>405 hp</span>
                                      </div>
                                        <img src="../../assets/images/small-car/22-328i-1-167x119.jpg" class="card-img-top" alt="...">
                                        <div class="overlay"><i class="far fa-plus-square"></i></div>
                                  </div>
                                    <div class="card-body text-center">
                                      <h5 class="card-title">2015 BMW M6 Gran Coupe</h5>
                                      <p class="card-text">No owners, Brand new</p>
                                      <h6 class="card-subtitle">$55,000</h6>
                                    </div>
                              </div>
                          </div>

                          <div class="item">
                              <div class="card" style="width: 13rem;">
                                  <div class="image-header">
                                        <img src="../../assets/images/small-car/23-ftype-1-167x119.jpg" class="card-img-top" alt="...">
                                        <div class="overlay"><i class="far fa-plus-square"></i></div>
                                  </div>
                                    <div class="card-body text-center">
                                      <h5 class="card-title">2013 BMW 328i Touring Edition</h5>
                                      <p class="card-text">No owners, Brand new</p>
                                      <h6 class="card-subtitle">$55,000</h6>
                                    </div>
                              </div>
                          </div>

                          <div class="item">
                              <div class="card" style="width: 13rem;">
                                  <div class="image-header">
                                        <img src="../../assets/images/small-car/24-m6-1-167x119.jpg" class="card-img-top" alt="...">
                                        <div class="overlay"><i class="far fa-plus-square"></i></div>
                                  </div>
                                    <div class="card-body text-center">
                                      <h5 class="card-title">2013 BMW 328i Touring Edition</h5>
                                      <p class="card-text">No owners, Brand new</p>
                                      <h6 class="card-subtitle">$55,000</h6>
                                    </div>
                              </div>
                          </div>

                          <div class="item">
                              <div class="card" style="width: 13rem;">
                                  <div class="image-header">
                                      <div class="triangle triangle-red">
                                          <span>405 hp</span>
                                      </div>
                                        <img src="../../assets/images/small-car/25-mazda6-1-167x119.jpg" class="card-img-top" alt="...">
                                        <div class="overlay"><i class="far fa-plus-square"></i></div>
                                  </div>
                                    <div class="card-body text-center">
                                      <h5 class="card-title">2013 BMW 328i Touring Edition</h5>
                                      <p class="card-text">No owners, Brand new</p>
                                      <h6 class="card-subtitle">$55,000</h6>
                                    </div>
                              </div>
                          </div>

                          <div class="item">
                              <div class="card" style="width: 13rem;">
                                  <div class="image-header">
                                        <img src="../../assets/images/small-car/26-rlx-2-167x119.jpg" class="card-img-top" alt="...">
                                        <div class="overlay"><i class="far fa-plus-square"></i></div>
                                  </div>
                                    <div class="card-body text-center">
                                      <h5 class="card-title">2013 BMW 328i Touring Edition</h5>
                                      <p class="card-text">No owners, Brand new</p>
                                      <h6 class="card-subtitle">$55,000</h6>
                                    </div>
                              </div>
                          </div>

                          <div class="item">
                              <div class="card" style="width: 13rem;">
                                  <div class="image-header">
                                        <img src="../../assets/images/small-car/27-gtr-1-167x119.jpg" class="card-img-top" alt="...">
                                        <div class="overlay"><i class="far fa-plus-square"></i></div>
                                  </div>
                                    <div class="card-body text-center">
                                      <h5 class="card-title">2013 BMW 328i Touring Edition</h5>
                                      <p class="card-text">No owners, Brand new</p>
                                      <h6 class="card-subtitle">$55,000</h6>
                                    </div>
                              </div>
                          </div>

                          <div class="item">
                              <div class="card" style="width: 13rem;">
                                  <div class="image-header">
                                        <img src="../../assets/images/small-car/28-touring-1-167x119.jpg" class="card-img-top" alt="...">
                                        <div class="overlay"><i class="far fa-plus-square"></i></div>
                                  </div>
                                    <div class="card-body text-center">
                                      <h5 class="card-title">2013 BMW 328i Touring Edition</h5>
                                      <p class="card-text">No owners, Brand new</p>
                                      <h6 class="card-subtitle">$55,000</h6>
                                    </div>
                              </div>
                          </div>
                  </div>

              </div>
          </div>
      </div>
  </section>
  -->
<!-- END recent-vehicles -->

<!-- Start Map -->
<section class="map">
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</section>
<!-- END Map -->

<!-- Start functionality -->
<section class="functionality text-center">
  <div class="overlay section-padding pt-lg-5">
    <div class="container">
      <div class="row">
        <div class="col-xl col-md-6 mb-xl-0 mb-5">
          <div class="content">
            <div class="info-header">
              <h5>Financing</h5>
              <i class="fas fa-tag"></i>
            </div>
          </div>
        </div>

        <div class="col-xl col-md-6 mb-xl-0 mb-5">
          <div class="content">
            <div class="info-header">
              <h5>Warranty</h5>
              <i class="fas fa-cogs"></i>
            </div>
          </div>
        </div>

        <div class="col-xl-5 col-md-12 mb-xl-0 mb-4">
          <div class="content">
            <div class="info-header">
              <h5>What are our Hours of Operation?</h5>
            </div>
            <div class="info-content row">
              <div class="col-xl offset-xl-2 col-md offset-lg-4 offset-md-3 offset-4 firstTable">
                <table class="table table-borderless">
                  <thead>
                  <tr>
                    <td colspan="2"><strong>Sales Department</strong></td>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Mon:</td>
                    <td>8:00am - 5:00pm</td>
                  </tr>
                  <tr>
                    <td>Tue:</td>
                    <td>8:00am - 9:00pm</td>
                  </tr>
                  <tr>
                    <td>Wed:</td>
                    <td>8:00am - 5:00pm</td>
                  </tr>
                  <tr>
                    <td>Thu:</td>
                    <td>8:00am - 9:00pm</td>
                  </tr>
                  <tr>
                    <td>Fri:</td>
                    <td>8:00am - 6:00pm</td>
                  </tr>
                  <tr>
                    <td>Sat:</td>
                    <td>9:00am - 5:00pm</td>
                  </tr>
                  <tr>
                    <td>Sun:</td>
                    <td>Closed</td>
                  </tr>
                  </tbody>
                </table>
              </div>

              <div class="col-xl mr-xl-4 offset-xl-0 secondTable offset-md-0 col-md offset-4">
                <table class="table table-borderless">
                  <thead>
                  <tr>
                    <td colspan="2"><strong>Service Department</strong></td>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Mon:</td>
                    <td>8:00am - 5:00pm</td>
                  </tr>
                  <tr>
                    <td>Tue:</td>
                    <td>8:00am - 9:00pm</td>
                  </tr>
                  <tr>
                    <td>Wed:</td>
                    <td>8:00am - 5:00pm</td>
                  </tr>
                  <tr>
                    <td>Thu:</td>
                    <td>8:00am - 9:00pm</td>
                  </tr>
                  <tr>
                    <td>Fri:</td>
                    <td>8:00am - 6:00pm</td>
                  </tr>
                  <tr>
                    <td>Sat:</td>
                    <td>9:00am - 5:00pm</td>
                  </tr>
                  <tr>
                    <td>Sun:</td>
                    <td>Closed</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl col-md-6 mb-xl-0 mb-5">
          <div class="content">
            <div class="info-header">
              <h5>About Us</h5>
              <i class="fas fa-users"></i>
            </div>
          </div>
        </div>

        <div class="col-xl col-md-6 mb-xl-0 mb-5">
          <div class="content">
            <div class="info-header">
              <h5>Find Us</h5>
              <i class="fas fa-map-marker-alt"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- END functionality -->

<!-- Start Review -->
<section class="text-center">
  <div class="overlay section-padding pt-lg-5 review-section">
    <div class="container">
      <div class="row review">
        <div class="col-md-12 text-center">
          <div class="review-circle text-center">
            <img src="../../assets/images/award%20(1).png">
          </div>
        </div>
        <div class="col-md-12 text-center">
          <h5 class="review-title">AUTO PARTS REVIEWS</h5>
        </div>
        <div class="col-md-4">
          <div class="review-square">
            <div class="review-stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h5>
              Great Steering Pump at a Great Price!
            </h5>
            <span>
              Seems as well made and heavy duty as original. Time will tell if I get 150,000 miles out of it. Wish it wasn't made in China.
            </span>
          </div>
          <div class="review-horizontal-line"></div>
          <h6 class="review-text">
            Rein® PSR0022
          </h6>
          <span class="review-desc">
             Power Steering Reservoir
          </span>
        </div>

        <div class="col-md-4">
          <div class="review-square">
            <div class="review-stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h5>
              Installed Exactly the Same as the Origin.
            </h5>
            <span>
              OEM pump at a discount price, easy to install, functions perfectly!!
            </span>
          </div>
          <div class="review-horizontal-line"></div>
          <h6 class="review-text">
            Rein® PSR0022
          </h6>
          <span class="review-desc">
             Power Steering Reservoir
          </span>
        </div>

        <div class="col-md-4">
          <div class="review-square">
            <div class="review-stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h5>
              Great reservoir walk at a Great Price!
            </h5>
            <span>
              OEM direct replacement, fits perfectly only steering pump. Brought my car up to spec again..
            </span>
          </div>
          <div class="review-horizontal-line"></div>
          <h6 class="review-text">
            Rein® PSR0022
          </h6>
          <span class="review-desc">
             Power Steering Reservoir
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- END Review -->

<!-- Start Statistics -->
<section class="statistics text-center">
  <div class="overlay section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg col-md-6 mb-lg-0 mb-5">
          <div class="content">
            <div class="info-counter">
              <div class="info-counter-row">
                <i class="fas fa-car"></i>
              </div>
              <div class="info-counter-content">
                <h5 class="info-counter-number">
                  <span class="counter">2,000</span>
                </h5>
                <div class="info-counter-text">Cars Sold</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg col-md-6 mb-lg-0 mb-5">
          <div class="content">
            <div class="info-counter">
              <div class="info-counter-row">
                <i class="far fa-money-bill-alt"></i>
              </div>
              <div class="info-counter-content">
                <h5 class="info-counter-number">
                  <span>$</span>
                  <span class="counter">750,000</span>
                </h5>
                <div class="info-counter-text">Amount Sold</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg col-md-6 mb-md-0 mb-5">
          <div class="content">
            <div class="info-counter">
              <div class="info-counter-row">
                <i class="fas fa-users"></i>
              </div>
              <div class="info-counter-content">
                <h5 class="info-counter-number">
                  <span class="counter">100</span><span>%</span>
                </h5>
                <div class="info-counter-text">Customer Satisfaction</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg col-md-6 mb-md-0 mb-5">
          <div class="content">
            <div class="info-counter">
              <div class="info-counter-row">
                <i class="fas fa-tint"></i>
              </div>
              <div class="info-counter-content">
                <h5 class="info-counter-number">
                  <span class="counter">3,600</span>
                </h5>
                <div class="info-counter-text">Oil Changes</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END Statistics -->





